[Unit]
Description=Tripleo CI DLRN promoter
Requires=network.target
After=syslog.target network.target

[Service]
ExecStart=/bin/bash {{ ci_config_remote_src_dir }}/ci-scripts/dlrnapi_promoter/dlrn-promoter-service.sh
User={{ promoter_user }}
Restart=always

[Install]
WantedBy=multi-user.target
