[Unit]
Description=Tripleo CI DLRN promoter
Requires=network.target
After=syslog.target network.target

[Service]
ExecStart=/home/{{ promoter_user }}/ci-config/ci-scripts/dlrnapi_promoter/dlrn-promoter-service.sh
User={{ promoter_user }}
Restart=always
