[influxdb]
name = InfluxDB Repository
baseurl = https://repos.influxdata.com/{{ distro }}/$releasever/$basearch/stable/
enabled = 1
gpgcheck = 1
gpgkey = https://repos.influxdata.com/influxdata-archive_compat.key
