---
- name: Setup test-python
  become: true
  pip:
    name: "{{ venv_test_requirements }}"
    virtualenv: "{{ ansible_user_dir }}/test-python"
    virtualenv_site_packages: true
    extra_args: -chttps://releases.openstack.org/constraints/upper/master
