#!/bin/bash

export ANSIBLE_ROLES_PATH="{{ infra_setup_dir }}/roles"
source {{ venv_dir }}/bin/activate


cd {{ infra_setup_dir  }}
ansible-galaxy install -r ansible-role-requirements.yml

ansible-pull -i {{ inventory_dir }}/inventory.ini \
    -U {{ infra_setup_repo }} \
    ci-scripts/infra-setup/playbooks/servers_setup.yaml
