driver:
  name: docker
log: true

platforms:
  - name: ${MOLECULE_PLATFORM:-centos7}
    hostname: ${MOLECULE_PLATFORM:-centos7}
    image: ${MOLECULE_IMAGE:-centos:7}
    privileged: True
    volume_mounts:
      - "/sys/fs/cgroup:/sys/fs/cgroup:rw"
      - "/var/run/docker.sock:/var/run/docker.sock"
    command: "/usr/sbin/init"
    dockerfile: ../Dockerfile.j2
    easy_install:
      - pip
    environment: &env
      http_proxy: "{{ lookup('env', 'http_proxy') }}"
      https_proxy: "{{ lookup('env', 'https_proxy') }}"
    registry:
      url: ${MOLECULE_CONTAINER_REGISTRY_URL:-docker.io}

provisioner:
  name: ansible
  env:
    ANSIBLE_STDOUT_CALLBACK: yaml
  inventory:
    host_vars:
      centos7:
        ansible_user: unprivileged
        ansible_python_interpreter: "/usr/bin/python"
      rhel8:
        ansible_python_interpreter: "/usr/bin/python3"

scenario:
  test_sequence:
    - destroy
    - create
    - converge
    - destroy
lint:
  enabled: false

