---
dependency:
  name: galaxy
driver:
  name: delegated
log: true

platforms:
  - name: instance
    easy_install:
      - pip
    environment: &env
      http_proxy: "{{ lookup('env', 'http_proxy') }}"
      https_proxy: "{{ lookup('env', 'https_proxy') }}"

provisioner:
  name: ansible
  env:
    ANSIBLE_STDOUT_CALLBACK: yaml
  inventory:
    host_vars:
      centos7:
        # Our role are usually run as unprivileged user
        # But not this one, this is usually run as root
        #ansible_user: unprivileged
        ansible_python_interpreter: "/usr/bin/python"
        ansible_user: root
      rhel8:
        ansible_python_interpreter: "/usr/bin/python3"

scenario:
  test_sequence:
    - destroy
    - create
    - prepare
    - converge
    - destroy
