- project:
    check:
      jobs:
{%- for item in jobs %}
        - {{ item }}:
            vars:
              force_periodic: true
              featureset_override:
                dlrn_hash_tag: {{ hash }}
{% endfor %}
