- project:
    check:
      jobs:
{%- for item in jobs -%}
    	{% if loop.index == 1 %}
        - {{ item }}: &vars
            vars:
              force_periodic: true
              featureset_override:
                dlrn_hash_tag: {{ hash }}
	{%- endif -%}
{%- endfor -%}
{%- for item in jobs -%}
    	{% if loop.index > 1 %}
        - {{ item }}: *vars
	{%- endif -%}
{%- endfor -%}
