{% for job in jobs -%}
jobs_result,job_type={{ job_extra.job_type }},job_name={{ job.job_name }},release={{ job_extra.release }} name="{{ job_extra.promote_name }}",test_hash="{{ job_extra.test_hash }}",criteria="{{ job.criteria }}",status="{{ job.status }}",logs="{{ job.logs }}",failure_reason="{{ job.failure_reason }}",duration="{{ job.duration }}",component="{{ job_extra.component }}",distro="{{ job_extra.distro }}"
{% endfor -%}
dlrn-promotion,release={{ promotion_extra.release }},distro={{ promotion_extra.distro }},promo_name={{ promotion.promote_name }} commit_hash="{{ promotion.commit_hash }}",distro_hash="{{ promotion.distro_hash }}",aggregate_hash="{{ promotion.aggregate_hash }}",repo_hash="{{ promotion.repo_hash }}",repo_url="{{ promotion.repo_url }}",latest_build_date={{ promotion_extra.last_modified | int*1000 }},component="{{ promotion.component }}",promotion_details="{{ promotion_extra.dlrn_details }}",extended_hash="{{ promotion.extended_hash }}" {{ promotion.timestamp | int*1000000000 }}
