---

- hosts: all
  gather_facts: false
  vars:
    molecule_testing: true
    workspace: "/tmp"
    release: master
    promote_source: consistent
    zuul:
      molecule: true
  tasks:

    - name: Include required variables
      include_vars: ../../defaults/main.yml

    - block: &clean
        - name: check artifact file
          stat:
            path: "{{ artifact }}"
          register: artifact_file
        - name: clean artifact path
          file:
            state: absent
            path: "{{ artifact }}"
          when:
            - artifact_file.stat.exists
      when:
        - artifact is defined

    - name: cleanup
      block: *clean
      vars:
        artifact: "{{ workspace }}/commit.yaml"

    - name: get-hash for COMPONENT jobs (commit.yaml)
      block:
        - name: test get-hash.yaml for component job
          include_tasks: ../../tasks/get_hash.yaml
          vars:
            # should be component-ci-testing instead
            ansible_distribution: CentOS
            ansible_distribution_major_version: 8
            component: compute
        - name: validate hash_info for component job
          shell: |
            unset FULL_HASH
            unset COMPONENT_NAME
            source {{ workspace }}/hash_info.sh
            [[ -n ${FULL_HASH+x} ]] || exit 1
            [[ -n ${COMPONENT_NAME+x} ]] || exit 1

    - name: cleanup
      block: *clean
      vars:
        artifact: "{{ workspace }}/deorean.repo.md5"

    - name: get-hash for INTEGRATION jobs (.md5)
      block:
        # TODO(rfolco): Remove this injection when md5
        # are created by delorean
        - name: inject a md5 file for testing
          copy:
            content: d502da8dd4c7f74376f12076b3e5c4ad
            dest: "{{ workspace }}/delorean.repo.md5"
            force: yes
        - name: test get-hash.yaml for integration job
          include_tasks: ../../tasks/get_hash.yaml
          vars:
            ansible_distribution: CentOS
            ansible_distribution_major_version: 8
            component: ''
        - name: validate hash_info for integration job
          shell: |
            unset FULL_HASH
            source {{ workspace }}/hash_info.sh
            [[ -n ${FULL_HASH+x} ]] || exit 1

    - name: cleanup
      block: *clean
      vars:
        artifact: "{{ workspace }}/commit.yaml"

    - name: get-hash for LEGACY jobs (commit.yaml)
      block:
        - name: test get-hash.yaml for legacy job
          include_tasks: ../../tasks/get_hash.yaml
          vars:
            ansible_distribution: CentOS
            ansible_distribution_major_version: 7
            component: ''
        - name: validate hash_info for legacy job
          shell: |
            unset FULL_HASH
            source {{ workspace }}/hash_info.sh
            [[ -n ${FULL_HASH+x} ]] || exit 1
