__pycache__/
_build/
build/
*.egg
*.eggs
*.egg-info
dist
build
eggs
.tox/
jenkins/config.ini
secrets.yml
*.pyc
.idea/
.pytest_cache/
*.retry
weirdo_token
*.log
ci-scripts/infra-setup/roles/rrcockpit/files/nginx.conf
ci-scripts/infra-setup/roles/rrcockpit/files/grafana/downstream*
ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/telegraf.d/*downstream*
.venv
.coverage
.coverage.*
