[MESSAGES CONTROL]

disable =
    # TODO(ssbarnea): remove temporary skips adding during initial adoption:
    bad-continuation,
    broad-except,
    consider-using-in,
    consider-using-set-comprehension,
    consider-using-sys-exit,
    dangerous-default-value,
    deprecated-method,
    duplicate-code,
    expression-not-assigned,
    fixme,
    global-statement,
    global-variable-undefined,
    import-error,
    import-outside-toplevel,
    inconsistent-return-statements,
    invalid-name,
    logging-format-interpolation,
    logging-not-lazy,
    missing-class-docstring,
    missing-function-docstring,
    missing-module-docstring,
    no-else-continue,
    no-else-raise,
    no-else-return,
    no-member,
    no-self-use,
    not-an-iterable,
    not-callable,
    pointless-statement,
    protected-access,
    raising-format-tuple,
    redefined-builtin,
    redefined-outer-name,
    self-assigning-variable,
    superfluous-parens,
    too-few-public-methods,
    too-many-arguments,
    too-many-branches,
    too-many-instance-attributes,
    too-many-lines,
    too-many-locals,
    too-many-nested-blocks,
    too-many-return-statements,
    too-many-statements,
    trailing-comma-tuple,
    try-except-raise,
    undefined-loop-variable,
    ungrouped-imports,
    unidiomatic-typecheck,
    unnecessary-pass,
    unsubscriptable-object,
    unused-argument,
    unused-variable,
    useless-object-inheritance,
    useless-return,
    wrong-import-order,
