disable=SC2181,SC1090,SC1091
external-sources=true

# SC2181: Check exit code directly.
# SC1090: ShellCheck can't follow non-constant source.
# SC1091: Not following: ./dlrnapi_venv.sh: openBinaryFile: does not exist
