[project]
[access "refs/*"]
  read = group config-core
  owner = group config-ptl
    removeReviewer = group config-ptl
[access "refs/heads/*"]
    label-Code-Review = -2..+2 group config-core
    label-Code-Review = -2..+2 group config-ptl
    label-Verified = -2..+2 group rdo-infra/ci-config-ptl
    label-Workflow = -1..+1 group config-core
    label-Workflow = -1..+1 group config-ptl
    label-Workflow = -1..+0 group Registered Users
    submit = group config-ptl
    read = group Registered Users
    read = group config-core
[access "refs/meta/config"]
    read = group Registered Users
    read = group config-core
[receive]
    requireChangeId = true
[submit]
    mergeContent = false
    action = rebase if necessary
[project]
        description = No description provided
