[project]
[access "refs/*"]
  read = group rdo-ci-core
  owner = group rdo-ci-ptl
    removeReviewer = group rdo-ci-ptl
[access "refs/heads/*"]
    label-Code-Review = -2..+2 group rdo-ci-core
    label-Code-Review = -2..+2 group rdo-ci-ptl
    label-Verified = -2..+2 group rdo-infra/ci-config-ptl
    label-Workflow = -1..+1 group rdo-ci-core
    label-Workflow = -1..+1 group rdo-ci-ptl
    label-Workflow = -1..+0 group Registered Users
    submit = group rdo-ci-ptl
    read = group Registered Users
    read = group rdo-ci-core
[access "refs/meta/config"]
    read = group Registered Users
    read = group rdo-ci-core
[receive]
    requireChangeId = true
[submit]
    mergeContent = false
    action = rebase if necessary
[project]
        description = No description provided
