ansi2html  # GPL (soft-dependency of pytest-html)
dlrn
docker>=3.7  # Apache
mock==2.0.0
paramiko>=2.5.0  # LGPL (soft-dependency of docker that enables ssh protocol)
pytest-cov  # MIT
pytest-html<=2.0.1  # MPL 2.0
pytest-xdist>=1.26.1  # MIT
pytest>=4.2.0  # MIT
shyaml
tripleo-common
python-tripleoclient
