ansi2html  # GPL (soft-dependency of pytest-html)
jenkins-job-builder
pytest>=4.2.0  # MIT
pytest-html  # MPL 2.0
pytest-xdist>=1.26.1  # MIT
ansi2html  # GPL
mock==2.0.0
pre-commit>=1.10 # MIT License
