ansi2html  # GPL (soft-dependency of pytest-html)
docker>=3.7  # Apache
jenkins-job-builder
pytest>=4.2.0  # MIT
pytest-html  # MPL 2.0
pytest-xdist>=1.26.1  # MIT
mock==2.0.0
molecule>=2.20.1  # MIT
pre-commit>=1.10 # MIT License
