---
- hosts: all
  roles:
    - bindep  # python3-libselinux and alike
  tasks:

    # molecule delegated scenarios assume tester/instance host names are the
    # the ones used for testing, use of "localhost" being seen as an
    # anti-pattern which prevents development testing.
    - name: Assure instance or tester point to 127.0.0.1
      become: true
      lineinfile:
        path: /etc/hosts
        line: "127.0.0.1 instance tester"
        state: present

    - name: "Ensure tox"
      include_role:
        name: ensure-tox
      when: ansible_distribution_major_version is version(9, '>=')
