networks:
    - name: "{{ servers_internal_network_name }}"
subnets:
    - name: "{{ servers_internal_network_name }}_subnet"
      network_name: "{{ servers_internal_network_name }}"
      cidr: "{{ servers_internal_network_cidr }}"
      dns_nameservers: "{{ servers_internal_network_dns_nameservers }}"
routers:
    - name: "{{ servers_internal_network_name }}_router"
      network: "{{ provider_external_network }}"
      interfaces:
          - "{{ servers_internal_network_name }}_subnet"
