- name: create volumes for server
  os_volume:
    state: present
    display_name: "{{ item.1.display_name }}"
    display_description: "{{ item.1.display_description|default(omit) }}"
    size: "{{ item.1.size }}"
  with_subelements:
      - "{{ servers }}"
      - volumes
      - skip_missing: True

- name: create named port
  os_port:
    state: present
    name: "{{ item.1.name }}"
    network: "{{ item.1.network }}"
    security_groups: "{{ item.0.security_groups|default(omit) }}"
    fixed_ips:
        - ip_address: "{{ item.1.fixed_ip_address }}"
  with_subelements:
      - "{{ servers }}"
      - ports
      - skip_missing: True

- name: create the server
  os_server:
    state: present
    name: "{{ item.name }}"
    image: "{{ item.image }}"
    flavor: "{{ item.flavor|default(omit) }}"
    security_groups: "{{ item.security_groups|default(omit) }}"
    key_name: "{{ item.key_name|default(omit) }}"
    auto_ip: false
    nics: "{{ item.nics|default(omit) }}"
    userdata: "{{ item.userdata }}"
  with_items: "{{ servers }}"
  register: created_servers

- debug:
    var: created_servers

- name: Associate Floating ip
  os_floating_ip:
    state: present
    server: "{{ item.0.name }}"
    floating_ip_address: "{{ item.1 }}"
  with_subelements:
      - "{{ servers }}"
      - floating_ips
      - skip_missing: True

- name: attach extra volumes
  os_server_volume:
    state: present
    server: "{{ item.0.name }}"
    volume: "{{ item.1.display_name }}"
    device: "{{ item.1.device|default(omit) }}"
  with_subelements:
      - "{{ servers }}"
      - volumes
      - skip_missing: True

- name: Start the servers
  os_server_action:
    action: start
    server: "{{ item.name }}"
  with_items: "{{ servers }}"
