servers:

    - name: promoter-2
      image: "{{ default_image }}"
      flavor: "{{ promoter_flavor }}"
      key_name: "{{ default_keypair_name }}"
      security_groups:
        - default
        - sec_group_ssh_access_external
        - sec_group_http_access_external
      ports:
        - name: promoter-2-port
          network: "{{ servers_internal_network_name  }}"
          fixed_ip_address: "{{ promoter_internal_network_ip }}"
      volumes:
        - display_name: promoter-2-storage
          size: 10
      nics:
        - port-name: promoter-2-port
      floating_ips:
        - "{{ promoter_external_network_ip }}"
      userdata: |
        #cloud-config
        hostname: promoter
        packages:
            - epel-release
            - git
        package_upgrade: true
        write_files:
            # TODO: Keep in sync with ci-scripts/infra-setup/roles/base/templates/hosts.j2
            - path: /etc/ansible/hosts
              permissions: '0644'
              content: |
                ---
                # This file is managed by Ansible.
                all:
                  vars:
                    cloud: "{{ cloud | mandatory }}"
        {% if infra_setup_repo_fetch_refspec | default(None) != None %}
                    infra_setup_repo_fetch: "{{ infra_setup_repo_fetch }}"
                    infra_setup_repo_fetch_refspec: "{{ infra_setup_repo_fetch_refspec }}"
        {% endif %}
                  children:
                    {{ cloud | mandatory }}:
                      hosts:
                        incockpit:
                        promoter:
                        provisioner:
                        rrcockpit:
                        toolbox:
            - path: /root/dlrnapi_secret
              permissions: '0600'
              content: |
                  export DLRNAPI_PASSWORD='{{ dlrnapi_password }}'
            - path: /root/registry_secret
              permissions: '0600'
              content: |
                  export DOCKERHUB_USERNAME='{{ dockerhub_username }}'
                  export DOCKERHUB_PASSWORD='{{ dockerhub_password }}'
                  export RDOPROJECT_USERNAME='{{ rdoproject_username }}'
                  export RDOPROJECT_PASSWORD='{{ rdoproject_password }}'
                  export QUAYDOTIO_USERNAME='{{ quaydotio_username }}'
                  export QUAYDOTIO_PASSWORD='{{ quaydotio_password }}'
                  export QUAYDOTIO_TOKEN='{{ quaydotio_token }}'
            - path: /root/uploader_key
              permissions: '0600'
              content: |
        {{ uploader_ssh_priv_key | indent(10, true) }}
        runcmd:
          - yum install -y ansible
          - |
            set -exu
            hostname promoter
            git clone '{{ infra_setup_repo }}' /tmp/ci-config
            cd /tmp/ci-config
        {% if infra_setup_repo_fetch_refspec | default(None) != None %}
            git fetch --force \
                '{{ infra_setup_repo_fetch }}' \
                '{{ infra_setup_repo_fetch_refspec }}'
            git checkout --force FETCH_HEAD
        {% else %}
            git checkout --force master
        {% endif %}

            ansible-playbook -c local -vvv \
                -i /etc/ansible/ \
                -i ci-scripts/infra-setup/inventory/ \
                -l "localhost,$(hostname --short),$(hostname --fqdn),127.0.0.1" \
                '{{ infra_setup_servers_playbook }}'
          - reboot

    - name: rrcockpit-2
      image: "{{ default_image }}"
      flavor: "{{ rrcockpit_flavor }}"
      key_name: "{{ default_keypair_name }}"
      security_groups:
        - default
        - sec_group_http_access_external
        - sec_group_ssh_access_external
      ports:
        - name: rrcockpit-2-port
          network: "{{ servers_internal_network_name  }}"
          fixed_ip_address: "{{ rrcockpit_internal_network_ip }}"
      nics:
        - port-name: rrcockpit-2-port
      floating_ips:
        - "{{ rrcockpit_external_network_ip }}"
      userdata: |
        #cloud-config
        hostname: rrcockpit
        packages:
            - git
            - epel-release
            - python-pip
            - vim
        package_upgrade: true
        write_files:
            # TODO: Keep in sync with ci-scripts/infra-setup/roles/base/templates/hosts.j2
            - path: /etc/ansible/hosts
              permissions: '0644'
              content: |
                ---
                # This file is managed by Ansible.
                all:
                  vars:
                    cloud: "{{ cloud | mandatory }}"
        {% if infra_setup_repo_fetch_refspec | default(None) != None %}
                    infra_setup_repo_fetch: "{{ infra_setup_repo_fetch }}"
                    infra_setup_repo_fetch_refspec: "{{ infra_setup_repo_fetch_refspec }}"
        {% endif %}
                  children:
                    {{ cloud | mandatory }}:
                      hosts:
                        incockpit:
                        promoter:
                        provisioner:
                        rrcockpit:
                        toolbox:
            - path: /root/grafana_admin_password
              permissions: '0600'
              content: "{{ grafana_admin_password }}"
            - path: /root/grafana_smtp_password
              permissions: '0600'
              content: "{{ grafana_smtp_password }}"
        runcmd:
          - yum install -y ansible
          - |
            set -exu
            hostname rrcockpit
            git clone '{{ infra_setup_repo }}' /tmp/ci-config
            cd /tmp/ci-config
        {% if infra_setup_repo_fetch_refspec | default(None) != None %}
            git fetch --force \
                '{{ infra_setup_repo_fetch }}' \
                '{{ infra_setup_repo_fetch_refspec }}'
            git checkout --force FETCH_HEAD
        {% else %}
            git checkout --force master
        {% endif %}

            ansible-playbook -c local -vvv \
                -i /etc/ansible/ \
                -i ci-scripts/infra-setup/inventory/ \
                -l "localhost,$(hostname --short),$(hostname --fqdn),127.0.0.1" \
                '{{ infra_setup_servers_playbook }}'
          - reboot

    - name: toolbox-2
      image: "{{ centos8_image }}"
      flavor: "{{ default_flavor }}"
      key_name: "{{ default_keypair_name }}"
      security_groups:
        - default
        - sec_group_http_access_external
        - sec_group_ssh_access_external
      ports:
        - name: toolbox-2-port
          network: "{{ servers_internal_network_name  }}"
          fixed_ip_address: "{{ toolbox_internal_network_ip }}"
      nics:
        - port-name: toolbox-2-port
      floating_ips:
        - "{{ toolbox_external_network_ip }}"
      userdata: |
        #cloud-config
        hostname: toolbox
        packages:
            - epel-release
            - epel-next-release
            - git
            - python3
            - vim
        package_upgrade: true
        write_files:
            # TODO: Keep in sync with ci-scripts/infra-setup/roles/base/templates/hosts.j2
            - path: /etc/ansible/hosts
              permissions: '0644'
              content: |
                ---
                # This file is managed by Ansible.
                all:
                  vars:
                    cloud: "{{ cloud | mandatory }}"
        {% if infra_setup_repo_fetch_refspec | default(None) != None %}
                    infra_setup_repo_fetch: "{{ infra_setup_repo_fetch }}"
                    infra_setup_repo_fetch_refspec: "{{ infra_setup_repo_fetch_refspec }}"
        {% endif %}
                  children:
                    {{ cloud | mandatory }}:
                      hosts:
                        incockpit:
                        promoter:
                        provisioner:
                        rrcockpit:
                        toolbox:
            - path: /etc/nodepoolrc
              permissions: '0600'
              content: "{{ rdo_cloud_nodepool_rc | b64encode }}"
              encoding: b64
            - path: /etc/vexxhostrc
              permissions: '0600'
              content: "{{ vexxhost_nodepool_rc | b64encode }}"
              encoding: b64
        runcmd:
          - dnf install -y ansible
          - |
            set -exu
            hostname toolbox
            git clone '{{ infra_setup_repo }}' /tmp/ci-config
            cd /tmp/ci-config
        {% if infra_setup_repo_fetch_refspec | default(None) != None %}
            git fetch --force \
                '{{ infra_setup_repo_fetch }}' \
                '{{ infra_setup_repo_fetch_refspec }}'
            git checkout --force FETCH_HEAD
        {% else %}
            git checkout --force master
        {% endif %}

            ansible-playbook -c local -vvv \
                -i /etc/ansible/ \
                -i ci-scripts/infra-setup/inventory/ \
                -l "localhost,$(hostname --short),$(hostname --fqdn),127.0.0.1" \
                '{{ infra_setup_servers_playbook }}'
          - reboot
