
module logrotate-promoter 1.0;

require {
	type httpd_sys_content_t;
	type logrotate_t;
	class dir read;
}

#============= logrotate_t ==============
allow logrotate_t httpd_sys_content_t:dir read;
