
module logrotate-promoter 1.0;

require {
	type httpd_sys_content_t;
	type logrotate_t;
	class dir { ioctl read write getattr lock add_name remove_name search open } ;
	class file { ioctl read write getattr lock add_name remove_name search open };
}

#============= logrotate_t ==============
allow logrotate_t httpd_sys_content_t:dir { ioctl read write getattr lock add_name remove_name search open } ;
allow logrotate_t httpd_sys_content_t:file { ioctl read write getattr lock add_name remove_name search open };
