- name: Mount external volume - create a partition
  parted:
    device: /dev/vdb
    number: 1
    state: present

- name: Mount external volume - create a filesystem
  filesystem:
    fstype: xfs
    dev: /dev/vdb1

- name: create a mount folder
  file:
    path: /opt/hubbot
    state: directory

- name: Mount external volume - mount the partition
  mount:
    path: /opt/hubbot
    src: /dev/vdb1
    fstype: xfs
    state: mounted

- name: Fix data directory permissions
  file:
    path: '/opt/hubbot'
    mode: 0755
    owner: 'centos'
    group: 'centos'

- name: Install required packages
  yum:
    name: '{{ item }}'
    state: present
  with_items:
    - epel-release
    - python-virtualenv

- name: Install jq from EPEL
  yum:
    name: 'jq'
    state: present

- name: Copy private key from the provisioned location to target
  command: 'cp /root/hubbot_key /home/centos/.ssh/id_rsa'
  args:
    creates: '/home/centos/.ssh/id_rsa'

- name: Fix owners of the key
  file:
    path: '/home/centos/.ssh/id_rsa'
    mode: '0600'
    owner: 'centos'
    group: 'centos'

- become: true
  become_user: centos
  block:
    - name: Generate public key from private key for uploader user
      shell: >
        ssh-keygen -y -t rsa -N '' -f ~/.ssh/id_rsa > ~/.ssh/id_rsa.pub
      args:
        creates: /home/centos/.ssh/id_rsa.pub

    - name: Create a virtualenv for the bot
      pip:
        name: pip
        state: latest
        virtualenv: /home/centos/limnoria_venv

    - name: Add Limnoria requirements
      pip:
        name: limnoria
        state: present
        virtualenv: /home/centos/limnoria_venv

    - name: Create plugins directory
      file:
        path: '/opt/hubbot/plugins'
        state: directory

    - name: Copy GateStatus in plugins directory
      copy:
        src: 'GateStatus'
        dest: '/opt/hubbot/plugins'

    - name: Create the recheck script from template
      template:
        src: 'gate-recheck.sh.j2'
        dest: '/home/centos/gate-recheck.sh'
        mode: '0755'

    - name: Add a cron jobs to run the recheck script
      cron:
        name: 'recheck script for gate status'
        minute: '0'
        hour: '0-23/8'
        job: '/home/centos/gate-recheck.sh'

    - name: Add a cron jobs to start the bot after reboot
      cron:
        name: 'start hubbot'
        special_time: 'reboot'
        job: '/home/centos/limnoria_venv/bin/supybot -d /opt/hubbot/hubbot.conf'

- name: Copy multinode monitoring parser script
  copy:
    src: multinode.py
    dest: ~/multinode.py

- name: Create cron job to run multinode parser for InfluxDB and Grafana
  cron:
    name: 'script for pulling monitoring data from multinode jobs'
    minute: 0
    job: '/usr/bin/python ~/multinode.py -c ~/creds'

- name: Create cron job to run multinode parser for InfluxDB and Grafana
  cron:
    name: 'script for pulling monitoring data from OVB jobs'
    minute: 30
    job: '/usr/bin/python ~/ovb_tracking.py -c ~/creds'

- name: Create cron job for removing multinode and OVB db every day
  cron:
    name: 'script for cleaning up databse file regularly'
    minute: 30
    hour: 03
    job: 'rm -f ~/multinode_db; rm -f ~/ovb_db; '
