<html>
    <head>
        {% if title %}
        <title>{{ title }} - Diff TripleO Builds</title>
        {% else %}
        <title>Diff TripleO Builds</title>
        {% endif %}
    </head>
    <body>
        <div>
            Diff TripleO Builds:
            <a href="{{ url_for('docs') }}">Docs</a>
            <a href="{{ url_for('diff_builds') }}">Diff Builds</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        {% block content %}{% endblock %}
    </body>
</html>
