---
- import_playbook: 0_cloud_hosts.yml

- hosts: promoter,rrcockpit,toolbox
  remote_user: "{{ default_remote_user }}"
  roles:
    - configure_packages
    - configure_journalctl
    - configure_groups
    - configure_users
    - configure_bashrc
    - configure_continuous_delivery
    - configure_ssh
