- hosts: rrcockpit
  gather_facts: true
  become: true
  tasks:

    - name: Set hostname
      hostname:
        name: "{{ cockpit_hostname | default('rrcockpit') }}"

    - name: add myself to /etc/hosts
      lineinfile:
        dest: /etc/hosts
        regexp: '^127\.0\.0\.1[ \t]+localhost'
        line: "127.0.0.1 localhost {{ cockpit_hostname | default('rrcockpit') }}"
        state: present

    - name: Install packages
      package:
        name:
          - git
          - epel-release
          - gcc
          - python-devel

    - name: Install pip
      package:
        name:
          - python-pip

    - name: Install python packages
      pip:
        name: "{{ item.name }}"
        version: "{{ item.version }}"
      loop:
        - name: pip
          version: 19.3
        - name: ansible
          version: 2.9

    - name: Create /etc/ansible/
      file:
        path: /etc/ansible/
        state: directory

    - name: Create hosts file
      copy:
        dest: /etc/ansible/hosts
        content: "{{ cockpit_hostname | default('rrcockpit') }} ansible_connection=local"

    - name: Create files
      copy:
        content: "{{ item.content }}"
        dest: "{{ item.path }}"
      with_items:
        - content: "{{ grafana_admin_password }}"
          path: /root/grafana_admin_password
        - content: "{{ grafana_smtp_password }}"
          path: /root/grafana_smtp_password

- hosts: rrcockpit
  tasks:

    - include_vars:
        file: "tenant_vars/common.yml"

    - include_role:
        name: base

    - include_role:
        name: rrcockpit
