- name: Ensure promoter user exists
  become: true
  user:
    name: "{{ promoter_user }}"
    system: true
    create_home: true

- name: "Add passwordless sudo permission for {{ promoter_user }} user"
  become: true
  copy:
    dest: "/etc/sudoers.d/{{ promoter_user }}"
    content: "{{ promoter_user }} ALL=(ALL) NOPASSWD:ALL"
    mode: 0440

- name: "Validate sudoers permissions update"
  become: true
  changed_when: false
  command: "/usr/sbin/visudo -c"

- name: Ensure credentials are created
  include_role:
    name: _ensure_credentials

- name: Setup local loop device as docker partition
  include_role:
    name: promoter
    tasks_from: setup_loop

- name: Run promotion server provisioning role
  include_role:
    name: promoter
    # May need install packages only
    #tasks_from: install_packages

- name: Create a virtualenv for the promoter script
  become: true
  become_user: "{{ promoter_user }}"
  pip:
    requirements: "{{ ci_config_remote_src_dir }}/test-requirements.txt"
    virtualenv: "~/{{ promoter_virtualenv }}"
    virtualenv_command: "/usr/bin/python3 -m venv"

- name: Setup staging environment
  become: true
  become_user: "{{ promoter_user }}"
  shell: |
    source ~/{{ promoter_virtualenv }}/bin/activate
    python3 src/stage/stage_server.py {{ staging_args }} {{ staging_action }} {{ release_config_args }}
  args:
    chdir: "{{ ci_config_remote_src_dir }}/ci-scripts/dlrnapi_promoter"
  changed_when: false
