security_groups:
    - name: sec_group_jumphost_access_external
      rules:
        - protocol: tcp
          port_range_min: 22
          port_range_max: 22
          direction: ingress
          remote_ip_prefix: "{{ jumphost_external_network_ip }}"
    - name: sec_group_jumphost_access_internal
      rules:
        - protocol: tcp
          port_range_min: 22
          port_range_max: 22
          direction: ingress
          remote_ip_prefix: "{{ jumphost_internal_network_ip }}"
    - name: sec_group_influxdb_access_external
      rules:
        - protocol: tcp
          port_range_min: 8086
          port_range_max: 8086
          remote_ip_prefix: 0.0.0.0/0
    - name: sec_group_http_access_external
      rules:
        - protocol: tcp
          port_range_min: 80
          port_range_max: 80
          remote_ip_prefix: 0.0.0.0/0
    - name: sec_group_ssh_access_external
      rules:
        - protocol: tcp
          port_range_min: 22
          port_range_max: 22
          direction: ingress
          remote_ip_prefix: 0.0.0.0/0
    - name: sec_group_nameserver
      rules:
        - protocol: tcp
          port_range_min: 53
          port_range_max: 53
          direction: ingress
          remote_ip_prefix: "{{ rdocloud_external_network }}"
        - protocol: udp
          port_range_min: 53
          port_range_max: 53
          direction: ingress
          remote_ip_prefix: "{{ rdocloud_external_network }}"
