<VirtualHost *:80>
    ServerAdmin rdo-ci-admins@redhat.com
    DocumentRoot /var/www/promoter/

    <Directory /var/www/promoter>
	Options Indexes MultiViews
	AllowOverride None
	Require all granted
    </Directory>
</VirtualHost>

<VirtualHost *:80>
    ServerAdmin rdo-ci-admins@redhat.com
    DocumentRoot " /var/www/promoter/config"
    ServerPath "/config/"
    RewriteEngine On
    RewriteRule "^(/config/.*)" "/var/www/promoter$"
</VirtualHost>

<VirtualHost *:80>
    ServerAdmin rdo-ci-admins@redhat.com
    DocumentRoot " /var/www/promoter/promoter_logs"
    ServerPath "/promoter_logs/"
    RewriteEngine On
    RewriteRule "(/promoter_logs/.*)" "/var/www/promoter/promoter_logs$"
</VirtualHost>


