- when: ansible_distribution_major_version <= '8'
  become: true
  block:
    - name: Configure epel repository
      block:
        - name:  Install epel-release
          package:
            name: epel-release
            state: present

        - name: Enable epel repository
          command: dnf config-manager --enable epel
          args:
            warn: false

    - name: Install required packages
      package:
        name: python3-paramiko
        state: present

    - name: Remove epel repository
      block:
        - name: Disable epel repository
          command: dnf config-manager --disable epel
          args:
            warn: false
        - name:  Remove epel-release
          package:
            name: epel-release
            state: absent

- when: ansible_distribution_major_version >= '9'
  block:
    - name: Install pip
      become: true
      package:
        name: python3-pip
        state: present

    - name: Install python requirements
      pip:
        name: paramiko