---
  # Install compose promoter dependencies
  - name: Configure repo and install dependencies
    include_tasks: install_packages.yaml

  - name: Promoting artifact
    debug:
        msg: >-
            Promoting artifact label {{ promoter_candidate_label }} to {{ promoter_target_label }}

  - name: Promote compose-id
    artifact_promoter:
        promotion_type: "{{ promotion_type }}"
        server: "{{ remote_server }}"
        port: "{{ remote_port | default(omit) }}"
        user: "{{ remote_user | default(omit) }}"
        private_key_path: "{{ remote_key_path | default(omit) }}"
        working_dir: "{{ remote_working_dir }}"
        candidate_label: "{{ promoter_candidate_label | default(omit) }}"
        target_label: "{{ promoter_target_label }}"
        file_name: "{{ promotion_file_name | default(omit) }}"
        file_content: "{{ promotion_file_content | default(omit) }}"
        latest_compose_url: "{{ compose_promoter_latest_compose_url | default(omit) }}"
