---
ansible_connection: local
infra_setup_servers_playbook: ci-scripts/infra-setup/servers_setup.yml

default_image: 804deb43-a185-4139-9605-9099f53e510e  # "CentOS 7.1905 [2019-06-04]"
centos8_image: centos8-stream

default_flavor: ci.m1.medium
rrcockpit_flavor: 8vcpu_64GB
promoter_flavor: 8vcpu_16GB

provider_external_network: public
provider_external_network_cidr: 38.102.83.0/24

promoter_internal_network_ip: 192.168.100.42
promoter_external_network_ip: 38.102.83.109

rrcockpit_internal_network_ip: 192.168.100.240
rrcockpit_external_network_ip: 38.102.83.165
rrcockpit_mtu: 1450

toolbox_internal_network_ip: 192.168.100.241
toolbox_external_network_ip: 38.102.83.131

servers_internal_network_cidr: 192.168.100.0/22
servers_internal_network_dns_nameservers:
    - 1.1.1.1
    - 8.8.8.8
servers_internal_network_name: private
