servers:

    - name: promoter
      image: "{{ default_image }}"
      flavor: "{{ promoter_flavor }}"
      key_name: "{{ default_keypair_name }}"
      security_groups:
        - default
        - sec_group_ssh_access_external
        - sec_group_http_access_external
      ports:
        - name: promoter-port
          network: "{{ servers_internal_network_name  }}"
          fixed_ip_address: "{{ promoter_internal_network_ip }}"
      volumes:
        - display_name: promoter-storage
          size: 400
      nics:
        - port-name: promoter-port
      floating_ips:
        - "{{ promoter_external_network_ip }}"
      userdata: |
        #cloud-config
        packages:
            - ansible
            - git
        package_upgrade: true
        write_files:
            # TODO: Keep in sync with ci-scripts/infra-setup/roles/base/templates/hosts.j2
            - path: /etc/ansible/hosts
              permissions: '0644'
              content: |
                ---
                # {{ ansible_managed }}
                all:
                  vars:
                    cloud: "{{ cloud | mandatory }}"
                  children:
                    {{ cloud | mandatory }}:
                    hosts:
                      incockpit:
                      promoter:
                      provisioner:
                      rrcockpit:
                      toolbox:
            - path: /root/dlrnapi_secret
              permissions: '0600'
              content: |
                  export DLRNAPI_PASSWORD='{{ dlrnapi_password }}'
            - path: /root/registry_secret
              permissions: '0600'
              content: |
                  export DOCKERHUB_USERNAME='{{ dockerhub_username }}'
                  export DOCKERHUB_PASSWORD='{{ dockerhub_password }}'
                  export RDOPROJECT_USERNAME='{{ rdoproject_username }}'
                  export RDOPROJECT_PASSWORD='{{ rdoproject_password }}'
                  export QUAYDOTIO_USERNAME='{{ quaydotio_username }}'
                  export QUAYDOTIO_PASSWORD='{{ quaydotio_password }}'
                  export QUAYDOTIO_TOKEN='{{ quaydotio_token }}'
            - path: /root/uploader_key
              permissions: '0600'
              content: |
        {{ uploader_ssh_priv_key | indent(10, true) }}
        runcmd:
          - yum install -y epel-release
          - yum install -y ansible
          - ansible-pull -d /tmp/ci-config -i /etc/ansible/ -i ci-scripts/infra-setup/inventory/ --clean -U {{ infra_setup_repo }} {{ infra_setup_servers_playbook }} 2>&1 | tee /var/log/ansible-pull.log
          - reboot

    - name: rrcockpit
      image: "{{ default_image }}"
      flavor: "{{ rrcockpit_flavor }}"
      key_name: "{{ default_keypair_name }}"
      security_groups:
        - default
        - sec_group_http_access_external
        - sec_group_ssh_access_external
      ports:
        - name: rrcockpit-port
          network: "{{ servers_internal_network_name  }}"
          fixed_ip_address: "{{ rrcockpit_internal_network_ip }}"
      nics:
        - port-name: rrcockpit-port
      floating_ips:
        - "{{ rrcockpit_external_network_ip }}"
      userdata: |
        #cloud-config
        packages:
            - git
            - epel-release
            - vim
        package_upgrade: true
        write_files:
            # TODO: Keep in sync with ci-scripts/infra-setup/roles/base/templates/hosts.j2
            - path: /etc/ansible/hosts
              permissions: '0644'
              content: |
                ---
                # {{ ansible_managed }}
                all:
                  vars:
                    cloud: "{{ cloud | mandatory }}"
                  children:
                    {{ cloud | mandatory }}:
                    hosts:
                      incockpit:
                      promoter:
                      provisioner:
                      rrcockpit:
                      toolbox:
            - path: /root/grafana_admin_password
              permissions: '0600'
              content: "{{ grafana_admin_password }}"
            - path: /root/grafana_smtp_password
              permissions: '0600'
              content: "{{ grafana_smtp_password }}"
        runcmd:
          - yum install -y epel-release
          - yum install -y ansible python-pip
          - ansible-pull -d /tmp/ci-config -i /etc/ansible/ -i ci-scripts/infra-setup/inventory/ --clean -U {{ infra_setup_repo }} {{ infra_setup_servers_playbook }} 2>&1 | tee /var/log/ansible-pull.log
          - reboot

    - name: toolbox
      image: "{{ centos8_image }}"
      flavor: "{{ default_flavor }}"
      key_name: "{{ default_keypair_name }}"
      security_groups:
        - default
        - sec_group_http_access_external
        - sec_group_ssh_access_external
      ports:
        - name: toolbox-port
          network: "{{ servers_internal_network_name  }}"
          fixed_ip_address: "{{ toolbox_internal_network_ip }}"
      nics:
        - port-name: toolbox-port
      floating_ips:
        - "{{ toolbox_external_network_ip }}"
      userdata: |
        #cloud-config
        packages:
            - git
            - epel-release
            - vim
        package_upgrade: true
        write_files:
            # TODO: Keep in sync with ci-scripts/infra-setup/roles/base/templates/hosts.j2
            - path: /etc/ansible/hosts
              permissions: '0644'
              content: |
                ---
                # {{ ansible_managed }}
                all:
                  vars:
                    cloud: "{{ cloud | mandatory }}"
                  children:
                    {{ cloud | mandatory }}:
                    hosts:
                      incockpit:
                      promoter:
                      provisioner:
                      rrcockpit:
                      toolbox:
            - path: /etc/nodepoolrc
              permissions: '0600'
              content: "{{ rdo_cloud_nodepool_rc | b64encode }}"
              encoding: b64
            - path: /etc/vexxhostrc
              permissions: '0600'
              content: "{{ vexxhost_nodepool_rc | b64encode }}"
              encoding: b64
        runcmd:
          - dnf install -y epel-release
          - dnf install -y python3 ansible
          - ansible-pull -d /tmp/ci-config -i /etc/ansible/ -i ci-scripts/infra-setup/inventory/ --clean -U {{ infra_setup_repo }} {{ infra_setup_servers_playbook }} 2>&1 | tee /var/log/ansible-pull.log
          - reboot
