{% for i in images %}
{% if not images[i] %}
<h3>No graph for {{ i }}. One or both datasets couldn't be fetched</h3>
{% else %}
<body class="body">
    <div class="container" align="left">
<embed type="image/svg+xml" src={{ images[i] }} style='max-width:1000px'/>
    </div>
</body>
{% endif %}
{% endfor %}
{% include 'table.html.j2' %}
