---
- hosts: localhost
  tasks:
    - name: call tasks to manage variables
      include_tasks: manage_variables.yml

    - name: Role test
      become: true
      block:
        #
        # While testing, we usually not provisioning a second disk for the server
        # So we emulate the second disk with a loopback device
        #
        - name: Promoter provisioning
          include_role:
            name: promoter
            tasks_from: setup_loop
          tags:
            - provisioning

        - name: promoter staging provisioning
          include_role:
            name: promoter
          vars:
            run_service: false
            monitoring: false
          tags:
            - provisioning

        - name: Run credentials setup
          include_role:
            name: promoter
            tasks_from: update_credentials
          tags:
            - provisioning

        - name: install test requirements (converge)
          become: true
          become_user: "{{ promoter_user }}"
          pip:
            requirements: "{{ ci_config_remote_src_dir }}/test-requirements.txt"
            virtualenv: "/home/{{ promoter_user }}/promoter_venv"
            extra_args: -chttps://releases.openstack.org/constraints/upper/master
          tags:
            - provisioning
