---
- name: copy any existing hash_info file to .backup
  copy:
    remote_src: true
    src: "{{ workspace }}/{{ hash_info_file_name | default('hash_info.sh') }}"
    dest: "{{ workspace }}/{{ hash_info_file_name | default('hash_info.sh') }}.backup"
  failed_when: false

- name: remove any existing hash_info file
  file:
    path: "{{ workspace }}/{{ hash_info_file_name | default('hash_info.sh') }}"
    state: absent
  failed_when: false

- name: write out the hash_info file
  copy:
    dest: "{{ workspace }}/{{ hash_info_file_name | default('hash_info.sh') }}"
    content: |
      export DLRNAPI_URL="{{ dlrnapi_url }}"
      export RELEASE="{{ osp_release|default(release) }}"
      export FULL_HASH="{{ full_hash }}"
      export COMMIT_HASH="{{ commit_hash | default('') }}"
      export DISTRO_HASH="{{ distro_hash | default('') }}"
      export COMPONENT_NAME="{{ component | default('') }}"

- name: add extended hash to hash_info file if it exists
  lineinfile:
    path: "{{ workspace }}/{{ hash_info_file_name | default('hash_info.sh') }}"
    state: present
    line: 'export EXTENDED_HASH="{{ extended_hash }}"'
  when: extended_hash is defined
