---
- name: Ensure legacy workspace directory
  file:
    path: '{{ workspace }}'
    state: directory

# commit/distro hashes for the combined repo (legacy shared hash for a single repo)
- name: discover the hashes url ( non-component )
  set_fact:
    commit_url: "{{ dlrn_hash_baseurl }}/{{ promote_source }}/commit.yaml"
  when:
    - component|default(None) == None
    - release is search("queens|rocky|stein|train")

# commit/distro hashes for component pipeline (an unique commit hash for each component)
- name: discover the hashes url (component)
  set_fact:
    commit_url: "{{ dlrn_hash_baseurl }}/component/{{ component }}/{{ promote_source }}/commit.yaml"
  when:
    - component|default(None) != None
    - not release is search("queens|rocky|stein|train")

- name: print out dlrn_api url
  debug:
    msg: "dlrnapi_url: {{ dlrnapi_url }}"

- name: print out dlrn_hash_baseurl
  debug:
    msg: "dlrn_hash_baseurl: {{ dlrn_hash_baseurl }}"

# md5 hash for integration jobs ( ussuri+ )
- name: discover the hashes url (integration)
  set_fact:
    md5_url: "{{ dlrn_hash_baseurl }}/{{ promote_source }}/delorean.repo.md5"
  when:
    - component|default(None) == None
    - not release is search("queens|rocky|stein|train")

- name: print out commit_url
  debug:
    msg: "commit_url: {{ commit_url }}"
  when: commit_url is defined

- name: get hashes from commit.yaml (component and legacy jobs)
  import_tasks: get_hashes_from_commit_yaml.yaml
  when: commit_url|default(None) != None

- name: get aggregated hash from md5 file (integration jobs)
  block:
    - name: get md5 file
      get_url:
        url: "{{ md5_url }}"
        dest: "{{ workspace }}/delorean.repo.md5"
    - name: read md5
      command: "cat {{ workspace }}/delorean.repo.md5"
      register: md5_hash
    - name: get hash
      set_fact:
        full_hash: "{{ md5_hash.stdout }}"
  when: md5_url|default(None) != None

- name: create hash_info file
  import_tasks: create_hash_info_file.yaml

- name: create component hash files
  import_tasks: write_component_hashes.yaml
  when:
    - md5_url|default(None) != None
    - promote_target is defined
