---
- name: Ensure legacy workspace directory
  file:
    path: '{{ workspace }}'
    state: directory

- name: discover dlrnapi url (for legacy jobs only)
  set_fact:
    dlrnapi_url:
       "{{ dlrnapi_protocol }}://{{ dlrnapi_host }}/api-{{ ansible_distribution | lower }}-{{ release }}"
  when:
    - ansible_distribution == 'RedHat' or ansible_distribution_major_version|int < 8
    - component|default(None) == None

- name: discover dlrnapi url (for centos8 jobs)
  set_fact:
    dlrnapi_url:
      "{{ dlrnapi_protocol }}://{{ dlrnapi_host }}/api-{{ ansible_distribution | lower }}{{ ansible_distribution_major_version }}-{{ release }}"
  when:
    - ansible_distribution == "CentOS"
    - ansible_distribution_major_version|int >= 8

- name: use the upper constraint url (for master)
  set_fact:
    dlrnapi_url: "{{ dlrnapi_url }}-uc"
  when: release == 'master'

- name: discover dlrn hash base url
  set_fact:
    dlrn_hash_baseurl: "{{ dlrnapi_protocol }}://{{ dlrnapi_host }}/{{ ansible_distribution | lower }}{{ ansible_distribution_major_version }}-{{ release }}"

# commit/distro hashes for the combined repo (legacy shared hash for a single repo)
# rhel/centos7
- name: discover the hashes url (legacy)
  set_fact:
    commit_url: "{{ dlrn_hash_baseurl }}/{{ promote_source }}/commit.yaml"
  when:
    - ansible_distribution == 'RedHat' or ansible_distribution_major_version|int < 8
    - component|default(None) == None

# commit/distro hashes for component pipeline (an unique commit hash for each component)
# component (centos8/rhel8)
- name: discover the hashes url (component)
  set_fact:
    commit_url: "{{ dlrn_hash_baseurl }}/component/{{ component }}/{{ promote_source }}/commit.yaml"
  when:
    - ansible_distribution == "CentOS" or ansible_distribution == "RedHat"
    - ansible_distribution_major_version|int >= 8
    - component|default(None) != None

# md5 hash for integration jobs (md5 build id for all components promoted into individual repos)
# integration (centos8/rhel8)
- name: discover the hashes url (integration)
  set_fact:
    md5_url: "{{ dlrn_hash_baseurl }}/{{ promote_source }}/delorean.repo.md5"
    cacheable: true
  when:
    - ansible_distribution == "CentOS" or ansible_distribution == "RedHat"
    - ansible_distribution_major_version|int >= 8
    - component|default(None) == None

- name: get hashes from commit.yaml (component and legacy jobs)
  import_tasks: get_hashes_from_commit_yaml.yaml
  when: commit_url is defined

- name: get aggregated hash from md5 file (integration jobs)
  block:
    - name: get md5 file
      get_url:
        url: "{{ md5_url }}"
        dest: "{{ workspace }}/delorean.repo.md5"
    - name: read md5
      command: "cat {{ workspace }}/delorean.repo.md5"
      register: md5_hash
    - name: get hash
      set_fact:
        full_hash: "{{ md5_hash.stdout }}"
  when: md5_url is defined

- name: create hash_info file
  import_tasks: create_hash_info_file.yaml

- name: create component hash files
  import_tasks: write_component_hashes.yaml
  when:
    - md5_url is defined
    - promote_target is defined
