---
ansible_python_interpreter: "{{ ansible_playbook_python }}"

mtu: "{{ lookup('vars', inventory_hostname + '_mtu', default=1500) }}"
default_keypair_name: ci-team-keypair

default_remote_user: cloud-user

toolbox_cleanup_keypairs_minutes: 50
toolbox_cleanup_failed_stacks_minutes: 30
toolbox_vexxhost_stats_minutes: "*/15"

ci_directory_path: "/var/lib/ansible"
ci_repository_path: "{{ ci_directory_path }}/local"

infra_setup_repo: https://github.com/rdo-infra/ci-config.git
# Variables infra_setup_repo_fetch and infra_setup_repo_fetch_refspec allow to override what git will use on checkout
# and is useful to verify patches in a staging enviroment.
# NOTE: Do not define infra_setup_repo_fetch{,_refspec} here but instead use ansible's -e argument.
#
# Example:
#infra_setup_repo_fetch: https://review.rdoproject.org/r/rdo-infra/ci-config
#infra_setup_repo_fetch_refspec: refs/changes/16/46116/6

users:
# NOTE: Do not remove users from this list! Instead expire them, remove their SSH keys and wait for the instances to
#       apply the changes. If you remove users immediately, users will still exist on servers and they can still login.
  - name: amolkahat
    authorized_keys: |
      ecdsa-sha2-nistp521 AAAAE2VjZHNhLXNoYTItbmlzdHA1MjEAAAAIbmlzdHA1MjEAAACFBAEKGOeis2AYzU6TuTS0phK/qiJIcd7nl5J1GP7yq6lB3tif7Y27r6UnZ+ocO68lkAwziMIF35W2GYhhR1kZJJVozQC9w3UvM+VrmXPhBrZFPIRPEZhhSvJuK+x3tw+Mi5+cKvaMxCdW8pmurnvrtK7rvohjjl0c+3wDCkh+EkyfoSAKAw== akahat@redhat.com
  - name: arxcruz
    authorized_keys: |
      ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA4Z/c9osaGGtU6X8fgELwfj/yayRurfcKA0HMFfdpPxev2dbwljysMuzoVp4OZmW1gvGtyYPSNRvnzgsaabPNKNo2ym5NToCP6UM+KSe93aln4BcM/24mXChYAbXJQ5Bqq/pIzsGs/pKetQN+vwvMxLOwTvpcsCJBXaa981RKML6xj9l/UZ7IIq1HSEKMvPLxZMWdu0Ut8DkCd5F4nOw9Wgml2uYpDCj5LLCrQQ9ChdOMz8hz6SighhNlRpPkvPaet3OXxr/ytFMu7j7vv06CaEnuMMiY2aTWN1Imin9eHAylIqFHta/3gFfQSWt9jXM7owkBLKL7ATzhaAn+fjNupw== arxcruz@redhat.com
  - name: gcerami
    expires: 1
    password_lock: yes
  - name: kopecmartin
    expires: 1
    password_lock: yes
  - name: marios
    authorized_keys: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQDS4Fn6k4deCnIlOtLWqZJyksbepjQt04j8Ed8CGx9EKkj0fKiAxiI4TadXQYPuNHMixZy4Nevjb6aDhL5Z906TfvNHKUrjrG7G26a0k8vdc61NEQ7FmcGMWRLwwc6ReDO7lFpzYKBMk4YqfWgBuGU/K6WLKiVW2cVvwIuGIaYrE1OiiX0iVUUk7KApXlDJMXn7qjSYynfO4mF629NIp8FJal38+Kv+HA+0QkE5Y2xXnzD4Lar5+keymiCHRntPppXHeLIRzbt0gxC7v3L72hpQ3BTBEzwHpeS8KY+SX1y5lRMN45thCHfJqGmARJREDjBvWG8JXOPmVIKQtZmVcD5b mandreou@redhat.com
  - name: rfolco
    expires: 1
    password_lock: yes
  - name: rlandy
    authorized_keys: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC9MiLfy30deHA7xPOAlew5qUq3UP2gmRMYJi8PtkjFB20/DKeWwWNnkZPqP9AayruRoo51SIiVg870gbZE2jYl+Ncx/FYDe56JeC3ySZsXoAVkC9bP7gkOGqOmJjirvAgPMI7bogVz8i+66Q4Ar7OKTp3762G4IuWPPEg4ce4Y7lx9qWocZapHYq4cYKMxrOZ7SEbFSATBbe2bPZAPKTw8do/Eny+Hq/LkHFhIeyra6cqTFQYShr+zPln0Cr+ro/pDX3bB+1ubFgTpjpkkkQsLhDfR6cCdCWM2lgnS3BTtYj5Ct9/JRPR5YOphqZz+uB+OEu2IL68hmU9vNTth1KeX rlandy@redhat.com
  - name: ssbarnea
    expires: 1
    password_lock: yes
  - name: sshnaidm
    expires: 1
    password_lock: yes
  - name: whayutin
    expires: 1
    password_lock: yes
  - name: raukadah
    authorized_keys: |
      ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJh7I7FuflqhxhXqUQ/HaFVQukw64LAOdUNX5Qz/Dzcq chkumar@redhat.com
  - name: bshewale
    authorized_keys: |
      ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIBqb3Q/9uDf4LmihQ7xeJ9gA/STIQUFPSfyyV0m8AoQi bshewale@redhat.com
  - name: pojadhav
    authorized_keys: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDG4qStDCc0/NVsFtzT0p/ueP+T5zoDTKof/wB/Gk5g63amNeadFgPhVLi/gKFUxUgcHOZxt38fl9EFzTcskJSqbqe4IC2zxTABXr+sGXV6PwxUV7toyq1MxZdDjDXNvqQ/UDfTFGj0nA3uXI4velv4t6f6zd4QbsgiTH/IKv4qILVRX1xkIlv5A+RN56Ds7xw0HprSWRb4yKR0o13i7BzblLYXLxUIlVlYisMSCDzul092aem/+do21uR4Gfhs0m7YrqHSArMDFMnz3Hg05bUeuDeEeJ2BL64Wef7QHFDFR266KjElcqvq7FWjO+oSz2yQUIHPl/gfYNsIJfC+R09kPLv3wTw+lPBxU/+v0qwrIGPGn8R1VsDNqb6A5FqUYKzarWqEQbbdV12wICHfji8+/mJMqv1I7Aq/Q4NcaMgFudWpJV41nDhLXkRVAMJnv6nZlwAtfS2iyNhQRsAH4jojSJnTVOsChi5KVduOTEHPiXUSGi1RTXUnVZXlEGemxMs= pojadhav@redhat.com
  - name: ysandeep
    authorized_keys: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQD9hHZMu0S/A/BhYMyc3X/qixn/1aoPUWIbWOF01JLkCeB5Vz7EFdW8ohqr5fqe11mXRhNKpeP7NQcTZ8JjdgE5XfA8+elhjmIlJJGEuUe278KmVLie4R7H+Mdu1FcVQ7RpJRginyqLOa5U9/T0oh+oNuHjEqMVAAfrpMGo2e0SBrFs92+sowK+u1SCoF1QI34mg4aHfFY15dDFoSu6z4CUtfSI/bH+pJKPw/xB7I/Ev1RMu5bouhsqtaXCldoBagQKI1d8ZslPZ043IC+0XBG75ZA7bfWs9pW0ReYG9a3J63DEPMSsp3Tnlu36xVYY+/GtpZROgqZxyU3UnfrmFEwL sandyada@redhat.com
  - name: dviroel
    authorized_keys: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQC0I8QqQx0Az2ysJt2JuffucLijhBqnsXKEIx5GyHwxVULROa8VtNFXUDH6ZKZavhiMcmfHB2+TBTda+lDP4FldYj06dGmzCY+IYGa+uDRdxHNGYjvCfLFcmLlzRK6fNbTcui+KlUFUdKe0fb9CRoGKyhlJD5GRkM1Dv+Yb6Bj+RNnmm1fVGYxzmrD2utvffYEb0SZGWxq2R9gefx1q/3wCGjeqvufEV+AskPhVGc5T7t9eyZ4qmslkLh1/nMuaIBFcr9AUACRajsvk6mXrAN1g3HlBf2gQlhi1UEyfbqIQvzzFtsbLDlSum/KmKjy818GzvWjERfQ0VkGzCd9bSLVL dviroel@redhat.com
  - name: rcastillo
    expires: 1
    password_lock: yes
  - name: jmeng
    authorized_keys: |
      ssh-rsa AAAAB3NzaC1yc2EAAAABIwAAAQEA2nmAjvKAj2wIVha4pNFfsYk8z5lB+sTQxuUkt/nWfzqh4YcyztMX9xXoxkRf/cSRW8/Cuaj7l9vGCq0OCySwN+jn0dQrom/TLNZ3hGI8RwcjllAhyj7CnTqFf5YmeVVdhQvndO+I/yOnQ8A5gUUM2hg/I+90z4+HWdC2rfvXHcV3gXl7JWv1OafuWeLPCjFuL4gTF8BXervj2OP8hp5dNrxeAW3g5cGX9MlDOo9mDfR329gKHGZ4e/Yv7M7quFJcHMfd1VDkhWRaOw6dTzbUcx8jxQVWBIATCaPlZvVjR+ejzyWuUQqSu9CAMc/Xo0mi8jEAn1JiPHq5UPo1zx19Xw== jmeng@redhat.com
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAACAQDLHg/svxPOltua4whk8ZI0Rlu5uGHvhBFKuOUHm+9Xkly2id2b1z+pn+rYkp6tMPBiYCQmICGfpwdID7GRZp17pzKpbuyz2REfwqcEQkuryvl9/J02H7S5gQHB7Wt/98qt+V74Si+wS/m9hXr1JJsVK4H/7fKpvEcsYQYNacekZhqa/77rXVlO/6N/GiXHBeDrxVKy5fnY2tqgmDp2bWgDQUwHTdR1B/rDn0TOqTanyUXhtNqP+PYtiUic8/+YCig7qe75p6L6PPVPFLwW6qqVtqri+7oKqYzBa2SD5nJ/6atIcArY2RRrnSvsBgkvEpKMW2NzV5+saER8JKli2MAbQGP9p+2R3nPkcYqNQWXwvF/vjyldI0vy1KbU7GgqMj2C7xWi2UNRN7F+AKADFKL2Gw7lJm8Uzt9i78bsIWheqcxnWrEzVeNURe1o7lnz5Qtqqm6XE4r2kAXXnGyVbkZk7KV4bshEGM1a6aslqAMCTIbWGEMCwGIyHXSz2+m4/uR5LZEKJokEuZoieZnhCOe1un69b2EsKtAMXSprTZz6fg2VtlAvs4Vzrr3/FuOFMzPXe7BcFWFphNA9R4hCAcTBw0U1Y3ACn9kjYKf6NR2eo1tLgSrPeCG7OwbvUKDpifyA8PHwm/gTGQnsNOT/j1WHyEe6sDKPej0qrKwOB9hszw== jmeng@redhat.com
      ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAICIqI8Z/823S+pcHS+D7EbWQXgHX3kLQjE42qNjLCF5G jmeng@redhat.com
  - name: svyas
    authorized_keys: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDEwYysynScMXr8HAj9cUBhUAwS0BUcU35bj9MvmQcvaYlilgMrxNIcbTEEYYtL+NFcYwylvZgLLh03a1/jJ9y9/xKKH3MoGEi7PBVeJqTKcQYQYYQCwc3cFojPlm2lVmT1sRMv4OC2tCKz12Sk11Om5Owv1Fd0cnqZNIM7RuE1x7tHugmcEKqB8d5cFiYmN1PYtgsYkoG9q6wIhS81Xm9Gv/kdQzB8g9kxQ6wFHNnNzBDgvWeei/tkLZ1VTkf1+K/GaNcy7kSh8x2Jm8k42RJiCEEo/V+/yJ/ap6LxPNyBVski8FrOdMLg8VcKQ3XHHWavZA1NY4m54QNL7EU3xs/9xlQbdooJ9IDDaqbAOK98hYz5DCUwHQIU8SRcFVi6mWzuDtDSrRpqZXh+LMoZvH9Mo86FC8I0tHHDIkIxolPsO3aRoqk3Y1N98NHMrXAtveNf2umA6bRfzp+feifnbSRv17WqUneAV0W+PLWtKepnanfN6Z6sPX+pFXStXymWHDk= svyas@redhat.com
  - name: anbanerj
    authorized_keys: |
      ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABgQDLOQd4ZLtkZXQGY6UwAr/06ppWQK4fDO3HaqxPk98csyOCBXsliSKK39Bso828+5srIXiW7aI6aC9P5mwi4mUZlGPfJlQbfrcGvY+b/SocuvaGK+1RrHLoJCT52LBhwgrzlXio2jeksZeein8iaTrhsPrOAs7KggIL/rB9hEiB3NaOPWhhoCP4vlW6MEMExGcqB/1FVxXFBPnLkEyW0Lk7ycVflZl2ocRxbfjZi0+tI1Wlinp8PvSQSc/WVrAcDgKjc/mB4ODPOyYy3G8FHgfMsrXSDEyjBKgLKMsdCrAUcqJQWjkqXleXSYOV4q3pzL+9umK+q/e3P/bIoSFQzmJKTU1eDfuvPXmow9F5H54fii/Da7ezlMJ+wPGHJrRAkmzvMbALy7xwswLhZMkOGNtRcPqaKYRmIBKpw3o6bCTtcNUHOtOQnzwY8JzrM2eBWJBXAANYw+9/ho80JIiwhg29CFNpVBuHbql2YxJQNrnl90guN65rYNpDxdIluweyUf8= anbanerj@redhat.com
  - name: dasm
    authorized_keys: |
      ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIJP2hiAp9qpx/hF2V8hpmGEVOac9ja4KzhOTtTAANF9U dasm@dhcp-192-168-104-111
