---
- name: Build zuul container
  when: build_zuul is defined
  vars:
    project:
      name: zuul
      repo: https://git.openstack.org/openstack-infra/zuul
      version: "{{ build_zuul.version }}"
      refspec: "{{ build_zuul.refspec }}"
  include_tasks: build-pbrx-container.yaml

- name: Build nodepool container
  when: build_nodepool is defined
  vars:
    project:
      name: nodepool
      repo: https://git.openstack.org/openstack-infra/nodepool
      version: "{{ build_nodepool.version }}"
      refspec: "{{ build_nodepool.refspec }}"
  include_tasks: build-pbrx-container.yaml

- name: Install and start reproducer
  block:
  - name: Install it
    include_tasks: install.yaml

  - name: Start it
    include_tasks: start.yaml
  when: state == "present"

- name: stop reproducer
  block:
  - name: Stop it
    include_tasks: stop.yaml
  when: state == "absent"


