version: '3.6'

services:
  mariadb:
    image: mariadb:10.4.2-bionic
    container_name: mariadb
    environment:
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
      MYSQL_ROOT_PASSWORD: ""
      MYSQL_DATABASE: rrcockpit
      MYSQL_USER: rrcockpit
      MYSQL_PASSWORD: "rrcockpit"
    volumes:
      - mariadb-volume:/var/lib/mysql

  mariadb-sidecar:
    build: mariadb
    container_name: mariadb-sidecar
    tty: true
    depends_on:
      - mariadb

  influxdb:
    image: influxdb:1.7.1
    container_name: influxdb
    environment:
      INFLUXDB_DATA_INDEX_VERSION: "tsi1"
    ports:
      - "8083:8083"
      - "8086:8086"
      - "8090:8090"
    volumes:
      - influxdb-volume:/var/lib/influxdb

  nginx:
    image: nginx:latest
    restart: always
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf:z

  grafana:
    image: grafana/grafana:7.3.6
    restart: always
    container_name: grafana
    ports:
      - "127.0.0.1:8080:3000"
    environment:
      - GF_SMTP_ENABLED=true
      - GF_SMTP_HOST=smtp.gmail.com:587
      - GF_SMTP_USER=tripleo.ci.ruck.rover@gmail.com
      - GF_SMTP_FROM_ADDRESSS=tripleo.ci.ruck.rover@gmail.com
      - GF_SMTP_FROM_NAME="Tripleo CI alerts"
      - GF_SMTP_EHLO_IDENTITY=dashboard-ci.tripleo.org
      - GF_SMTP_PASSWORD=${GRAFANA_SMTP_PASSWORD:-smtppassword}
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD:-admin}
    env_file:
      - 'grafana/env'
    depends_on:
      - influxdb
    volumes:
      - grafana-volume:/var/lib/grafana

  grafana-sidecar:
    build: grafana
    restart: always
    container_name: grafana-sidecar
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD:-admin}
    depends_on:
      - grafana
    volumes:
      - grafana-volume:/var/lib/grafana

  telegraf_py3:
    build: telegraf_py3
    restart: always
    container_name: telegraf_py3
    hostname: telegraf_py3.rrcockpit
    env_file:
      - 'telegraf_py3/env'
    depends_on:
      - influxdb
    volumes:
      - telegraf-volume:/tmp/telegraf_py3

  compare_rpms:
    build: compare_rpms
    restart: always
    container_name: compare_rpms
    hostname: compare_rpms.rrcockpit
    ports:
      - "127.0.0.1:8585:8585"
    depends_on:
      - nginx

volumes:
  mariadb-volume:
  influxdb-volume:
    external: true
  grafana-volume:
    external: true
  telegraf-volume:
    external: true
