version: '3.6'

services:
  influxdb:
    image: influxdb:latest
    container_name: influxdb
    ports:
      - "8083:8083"
      - "8086:8086"
      - "8090:8090"
    volumes:
      - influxdb-volume:/var/lib/influxdb

  grafana:
    image: grafana/grafana:latest
    restart: always
    container_name: grafana
    ports:
      - "80:3000"
    environment:
      - GF_SECURITY_ADMIN_PASSWORD=${GRAFANA_ADMIN_PASSWORD:-admin}
    env_file:
      - 'grafana/env'
    links:
      - influxdb
    volumes:
      - grafana-volume:/var/lib/grafana

  grafana-sidecar:
    build: grafana
    restart: always
    container_name: grafana-sidecar
    links:
      - grafana
    volumes:
      - grafana-volume:/var/lib/grafana

  telegraf:
    build: telegraf
    restart: always
    container_name: telegraf
    env_file:
      - 'telegraf/env'
    links:
      - influxdb
    volumes:
      - telegraf-volume:/tmp/

volumes:
  influxdb-volume:
    external: true
  grafana-volume:
    external: true
  telegraf-volume:
    external: true
