---
dlrnapi_protocol: "https"
dlrnapi_host: "trunk.rdoproject.org"
dlrnapi_endpoint:
  centos8:
    wallaby: api-centos8-wallaby
    victoria: api-centos8-victoria
    ussuri: api-centos8-ussuri
    train: api-centos8-train
  centos9:
    master: api-centos9-master-uc
    wallaby: api-centos9-wallaby
  centos7:
    train: api-centos8-train
    stein: api-centos-stein
    queens: api-centos-queens
  redhat8:
    rhos-17: api-rhel8-osp17
    rhos-16.2: api-rhel8-osp16-2
  redhat9:
    rhos-17: api-rhel9-osp17

dlrn_baseurl:
  centos8:
    wallaby: centos8-wallaby
    victoria: centos8-victoria
    ussuri: centos8-ussuri
    train: centos8-train
  centos9:
    master: centos9-master
    wallaby: centos9-wallaby
  centos7:
    train: centos7-train
    stein: centos7-stein
    queens: centos7-queens
  redhat8:
    rhos-17: rhel8-osp17
    rhos-16.2: rhel8-osp16-2
  redhat9:
    rhos-17: rhel9-osp17
dlrnapi_url: "{{ dlrnapi_protocol }}://{{ dlrnapi_host }}/{{ dlrnapi_endpoint[distro][osp_release|default(release)] }}"
dlrn_hash_baseurl: "{{ dlrnapi_protocol }}://{{ dlrnapi_host }}/{{ dlrn_baseurl[distro][osp_release|default(release)] }}"
distro: "{{ ansible_distribution|lower }}{{ ansible_distribution_major_version }}"
# release is assumed to be 'master', or 'train' for old platforms
release: "{% if ansible_distribution_major_version == '7' %}train{% else %}master{% endif %}"
