version: '2'
services:

  web:
    image: nginx:1.13.10-alpine
    restart: always
    volumes:
      - {{ work_dir }}/nginx.conf:/etc/nginx/nginx.conf:z
      - {{ work_dir }}/logdir:/logs:z
    ports:
      - 80:80
    links:
{% for item in sova_config %}
      - www-{{ item.name }}
{% endfor %}

{% for item in sova_config %}
  www-{{ item.name }}:
    container_name: cistatus-{{ item.name }}
    restart: always
    image: sshnaidm/sova{% if item.branch != 'master' %}:{{ item.branch }}{% endif %}

    ports:
      - 8090
    volumes:
      - {{ item.system_path }}:{{ item.local_path }}:z
      - {{ item.logs_system }}:{{ item.logs_local }}:Z
    command: "-p"

{% endfor %}
