- tenant:
    name: tripleo-ci-reproducer
    source:
      gerrit:
        config-projects:
          - zuul-config
        untrusted-projects:
          - test1
          - test2
      git.openstack.org:
        untrusted-projects:
          - exclude:
            - pipeline
            - job
            - semaphore
            - project
            - project-template
            - nodeset
            - secret
            projects:
            - openstack-infra/project-config
          - exclude:
            - project
            - project-template
            - job
            projects:
            - openstack-infra/openstack-zuul-jobs
          - exclude:
            - project
            - project-template
            projects:
            - openstack-infra/zuul-jobs
            - openstack-infra/tripleo-ci
            - openstack/tripleo-quickstart
            - openstack/tripleo-quickstart-extras
            - openstack/tripleo-upgrade
            - openstack/browbeat
            - openstack/tripleo-ha-utils
            - openstack/tripleo-heat-templates
      rdoproject.org:
        config-projects:
          - config
        untrusted-projects:
          - exclude:
            - project
            projects:
            - rdo-jobs:
                shadow: config
            - rdo-infra/ci-config
