---
distro_name: centos
distro_version: 9
release: master
api_url: https://trunk.rdoproject.org/api-centos9-master-uc
base_url: https://trunk.rdoproject.org/centos9-master/
username: ciuser
dry_run: no

# promote_from is not used in component promotion using promote-hash
promote_from:
  promoted-components: component-ci-testing

# target promotion label now has a nested list of criteria jobs
# for each component
promoted-components:
  baremetal:
    - periodic-tripleo-ci-centos-9-standalone-baremetal-master
    - periodic-tripleo-ci-centos-9-scenario012-standalone-baremetal-master
  cinder:
    - periodic-tripleo-ci-centos-9-standalone-cinder-master
    - periodic-tripleo-ci-centos-9-scenario001-standalone-cinder-master
    - periodic-tripleo-ci-centos-9-scenario004-standalone-cinder-master
  clients:
    - periodic-tripleo-ci-centos-9-standalone-clients-master
    - periodic-tripleo-ci-centos-9-containers-multinode-clients-master
  cloudops:
    - periodic-tripleo-ci-centos-9-standalone-cloudops-master
    - periodic-tripleo-ci-centos-9-scenario001-standalone-cloudops-master
    - periodic-tripleo-ci-centos-9-scenario002-standalone-cloudops-master
  common:
    - periodic-tripleo-ci-centos-9-standalone-common-master
    - periodic-tripleo-ci-centos-9-containers-multinode-common-master
    - periodic-tripleo-ci-centos-9-scenario001-standalone-common-master
    - periodic-tripleo-ci-centos-9-scenario003-standalone-common-master
    - periodic-tripleo-ci-centos-9-scenario004-standalone-common-master
    - periodic-tripleo-ci-centos-9-scenario002-standalone-common-master
  compute:
    - periodic-tripleo-ci-centos-9-standalone-compute-master
    - periodic-tripleo-ci-centos-9-scenario012-standalone-compute-master
    - periodic-tripleo-ci-centos-9-standalone-full-tempest-api-compute-master
    - periodic-tripleo-ci-centos-9-standalone-full-tempest-scenario-compute-master
  glance:
    - periodic-tripleo-ci-centos-9-standalone-glance-master
    - periodic-tripleo-ci-centos-9-scenario001-standalone-glance-master
    - periodic-tripleo-ci-centos-9-scenario003-standalone-glance-master
    - periodic-tripleo-ci-centos-9-scenario004-standalone-glance-master
    - periodic-tripleo-ci-centos-9-scenario002-standalone-glance-master
  manila:
    - periodic-tripleo-ci-centos-9-standalone-manila-master
    - periodic-tripleo-ci-centos-9-scenario004-standalone-manila-master
  network:
    - periodic-tripleo-ci-centos-9-standalone-network-master
    - periodic-tripleo-ci-centos-9-standalone-full-tempest-api-network-master
    - periodic-tripleo-ci-centos-9-containers-multinode-network-master
    - periodic-tripleo-ci-centos-9-scenario007-standalone-network-master
  octavia:
    - periodic-tripleo-ci-centos-9-standalone-octavia-master
    - periodic-tripleo-ci-centos-9-containers-multinode-octavia-master
    - periodic-tripleo-ci-centos-9-scenario007-standalone-octavia-master
  security:
    - periodic-tripleo-ci-centos-9-standalone-security-master
    - periodic-tripleo-ci-centos-9-containers-multinode-security-master
  swift:
    - periodic-tripleo-ci-centos-9-standalone-swift-master
    - periodic-tripleo-ci-centos-9-scenario002-standalone-swift-master
  tempest:
    - periodic-tripleo-ci-centos-9-standalone-tempest-master
    - periodic-tripleo-ci-centos-9-standalone-full-tempest-api-tempest-master
    - periodic-tripleo-ci-centos-9-standalone-full-tempest-scenario-tempest-master
  tripleo:
    - periodic-tripleo-ci-centos-9-standalone-tripleo-master
    - periodic-tripleo-ci-centos-9-containers-multinode-tripleo-master
    - periodic-tripleo-ci-centos-9-containers-multinode-tripleo-master-validation
    - periodic-tripleo-ci-centos-9-scenario004-standalone-tripleo-master
  ui:
    - periodic-tripleo-ci-centos-9-standalone-ui-master
  validation:
    - periodic-tripleo-ci-centos-9-standalone-validation-master
    - periodic-tripleo-ci-centos-9-containers-multinode-validation-master
