---
distro_name: centos
distro_version: 9
release: wallaby
api_url: https://trunk.rdoproject.org/api-centos9-wallaby
base_url: https://trunk.rdoproject.org/centos9-wallaby/
username: ciuser
dry_run: no

# promote_from is not used in component promotion using promote-hash
promote_from:
  promoted-components: component-ci-testing

# target promotion label now has a nested list of criteria jobs
# for each component
promoted-components:
  baremetal:
    - periodic-tripleo-ci-centos-9-standalone-baremetal-wallaby
    - periodic-tripleo-ci-centos-9-scenario012-standalone-baremetal-wallaby
  cinder:
    - periodic-tripleo-ci-centos-9-standalone-cinder-wallaby
    - periodic-tripleo-ci-centos-9-scenario001-standalone-cinder-wallaby
    - periodic-tripleo-ci-centos-9-scenario004-standalone-cinder-wallaby
  clients:
    - periodic-tripleo-ci-centos-9-standalone-clients-wallaby
  cloudops:
    - periodic-tripleo-ci-centos-9-standalone-cloudops-wallaby
    - periodic-tripleo-ci-centos-9-scenario001-standalone-cloudops-wallaby
    - periodic-tripleo-ci-centos-9-scenario002-standalone-cloudops-wallaby
  common:
    - periodic-tripleo-ci-centos-9-standalone-common-wallaby
    - periodic-tripleo-ci-centos-9-scenario001-standalone-common-wallaby
    - periodic-tripleo-ci-centos-9-scenario002-standalone-common-wallaby
    - periodic-tripleo-ci-centos-9-scenario003-standalone-common-wallaby
    - periodic-tripleo-ci-centos-9-scenario004-standalone-common-wallaby
  compute:
    - periodic-tripleo-ci-centos-9-standalone-compute-wallaby
    - periodic-tripleo-ci-centos-9-scenario012-standalone-compute-wallaby
    - periodic-tripleo-ci-centos-9-standalone-full-tempest-api-compute-wallaby
    - periodic-tripleo-ci-centos-9-standalone-full-tempest-scenario-compute-wallaby
  glance:
    - periodic-tripleo-ci-centos-9-standalone-glance-wallaby
    - periodic-tripleo-ci-centos-9-scenario001-standalone-glance-wallaby
    - periodic-tripleo-ci-centos-9-scenario002-standalone-glance-wallaby
    - periodic-tripleo-ci-centos-9-scenario003-standalone-glance-wallaby
    - periodic-tripleo-ci-centos-9-scenario004-standalone-glance-wallaby
  manila:
    - periodic-tripleo-ci-centos-9-standalone-manila-wallaby
    - periodic-tripleo-ci-centos-9-scenario004-standalone-manila-wallaby
  network:
    - periodic-tripleo-ci-centos-9-standalone-network-wallaby
    - periodic-tripleo-ci-centos-9-standalone-full-tempest-api-network-wallaby
  octavia:
    - periodic-tripleo-ci-centos-9-standalone-octavia-wallaby
  security:
    - periodic-tripleo-ci-centos-9-standalone-security-wallaby
  swift:
    - periodic-tripleo-ci-centos-9-standalone-swift-wallaby
    - periodic-tripleo-ci-centos-9-scenario002-standalone-swift-wallaby
  tempest:
    - periodic-tripleo-ci-centos-9-standalone-tempest-wallaby
    - periodic-tripleo-ci-centos-9-standalone-full-tempest-api-tempest-wallaby
    - periodic-tripleo-ci-centos-9-standalone-full-tempest-scenario-tempest-wallaby
  tripleo:
    - periodic-tripleo-ci-centos-9-standalone-tripleo-wallaby
    - periodic-tripleo-ci-centos-9-scenario004-standalone-tripleo-wallaby
  ui:
    - periodic-tripleo-ci-centos-9-standalone-ui-wallaby
  validation:
    - periodic-tripleo-ci-centos-9-standalone-validation-wallaby
