---
- name: write out the hash_info file
  copy:
    dest: "{{ workspace }}/{{ hash_info_file_name | default('hash_info.sh') }}"
    content: |
      export DLRNAPI_URL="{{ dlrnapi_url }}"
      export RELEASE="{{ release }}"
      export FULL_HASH="{{ full_hash }}"
      export COMMIT_HASH="{{ commit_hash | default('') }}"
      export DISTRO_HASH="{{ distro_hash | default('') }}"
      export COMPONENT_NAME="{{ component | default('') }}"
