[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ansible = "*"
docker-compose = "*"
python-openstackclient = "*"
openstacksdk = "*"

[requires]
python_version = "3.6"
