[general]
filter = SevFilter
view = HTMLView
file_conditions = /etc/os_loganalyze/file_conditions.yaml
generate_folder_index = true

[swift]
authurl={{ logserver_swift_auth_url }}
user={{ logserver_swift_username }}
password={{ logserver_swift_password }}
container={{ logserver_swift_container }}
region={{ logserver_swift_region }}
tenant={{ logserver_swift_tenant_name }}
chunk_size=64
