  - name: Read grafana admin password file
    slurp:
      src: /home/cloud-user/grafana_admin_password
    register: gf_admin_password

  - name: Read grafana smtp password file
    slurp:
      src: /home/cloud-user/grafana_smtp_password
    register: gf_smtp_password

  - name: Stop services
    environment:
      GRAFANA_ADMIN_PASSWORD: "{{ gf_admin_password['content'] | b64decode }}"
      GRAFANA_SMTP_PASSWORD: "{{ gf_smtp_password['content'] | b64decode }}"
      MTU: "{{ mtu }}"
    community.docker.docker_compose:
      project_src: "{{ ci_repository_path }}/ci-scripts/infra-setup/roles/rrcockpit/files/"
      state: absent

  - name: Start services
    environment:
      GRAFANA_ADMIN_PASSWORD: "{{ gf_admin_password['content'] | b64decode }}"
      GRAFANA_SMTP_PASSWORD: "{{ gf_smtp_password['content'] | b64decode }}"
      MTU: "{{ mtu }}"
    community.docker.docker_compose:
      project_src: "{{ ci_repository_path }}/ci-scripts/infra-setup/roles/rrcockpit/files/"
      pull: true
      build: true
      state: present
    when: start_services|default(true)|bool