---
- name: Install required packages
  package:
    name:
      - device-mapper-devel
      - gpgme-devel
      - btrfs-progs-devel
      - golang
  become: true

- name: Create temporary directory
  tempfile:
    state: directory
    suffix: copy-container
  register: temporary_copy_container_dir

- name: Copy go files to temporary directory
  copy:
    src: copy-quay/
    dest: "{{ temporary_copy_container_dir.path }}"

- name: Build the copy-container
  command:
    cmd: go build
    chdir: "{{ temporary_copy_container_dir.path }}"
  register: go_build
  changed_when: false

- name: Copy binary to /usr/local/bin
  copy:
    src: "{{ temporary_copy_container_dir.path }}/copy-quay"
    dest: /usr/local/bin
    mode: '0755'
    remote_src: true
  become: true
  when: go_build.rc == 0

- name: Delete temporary directory
  file:
    path: "{{ temporary_copy_container_dir.path }}"
    state: absent

- name: Install cron jobs
  include_tasks: cron.yml
  when: enable_cron|default(true)|bool
