[Unit]
Description=Geard deamon
After = te_workers.service

[Service]
ExecStart=/bin/geard -d --keepalive --keepalive-idle 1200 --keepalive-interval 60 --keepalive-count 10

[Install]
WantedBy = multi-user.target
