[Unit]
Description=TE Workers
After = network.target

[Service]
ExecStart=/opt/stack/tripleo-ci/scripts/te-broker/start_workers.sh

[Install]
WantedBy = multi-user.target
