[defaults]
callback_plugins = playbooks/library
host_key_checking = False
gathering = smart
fact_caching = jsonfile
fact_caching_connection = /tmp/
fact_caching_timeout = 3600

[ssh_connection]
# http://docs.ansible.com/ansible/intro_configuration.html#pipelining
pipelining = True
