---
- become: true
  block:

  - name: Install required packages
    package:
      name: 'epel-release'
      state: present

  - name: Install new dlrn repos
    get_url:
      url: "{{ item }}"
      dest: "/etc/yum.repos.d/{{ item.split('/')[-1] }}"
    with_items:
      - https://trunk.rdoproject.org/centos8-master/current-tripleo/delorean.repo
      - https://trunk.rdoproject.org/centos8/delorean-deps.repo

  - name: Install required packages
    dnf:
      name: '{{ packages }}'
      state: present

  - name: Create {{ web_directory }}
    file:
      path: "{{ web_directory }}"
      state: directory
      mode: u+rwX,g+rX,o+rX

  - name: Check if no server runs
    command: podman ps -aq -f name=nginx
    register: container_ps
    changed_when: false

  - name: Start web server
    command: >-
      podman run -d
      -p 80:80
      -v {{ web_directory }}:/usr/share/nginx/html:ro,z
      --name nginx
      --log-driver=journald
      nginx
    when: not container_ps.stdout
    changed_when: true

  - name: Create repo directory
    file:
      path: /opt/stack/
      state: directory

  - name: Clone repos
    git:
      repo: '{{ item.repo }}'
      dest: '{{ item.path }}'
      version: master
      force: yes
    with_items:
      - repo: https://github.com/rdo-infra/ci-config.git
        path: /opt/stack/ci-config

  - name: Create logrotate for cron jobs
    copy:
      dest: /etc/logrotate.d/cron_clean_logs
      content: |
        /var/log/clean_* {
            missingok
            notifempty
            compress
            size 5M
            daily
            rotate 10
            dateext
            nomail
            create 0600 root root
        }

  - name: Create cron job to run mini cleanup of servers in error
    cron:
      name: 'Cleaning servers in error'
      minute: 30
      job: >-
        source /etc/nodepoolrc &&
        bash /opt/stack/ci-config/ci-scripts/infra-cleanup/cleanup-servers.sh
        &>>/var/log/clean_errored_servers.log

  - name: Create cron job to run mini cleanup of failed stacks
    cron:
      name: 'Cleaning failed stacks'
      minute: 40
      job: >-
        source /etc/nodepoolrc &&
        bash /opt/stack/ci-config/ci-scripts/infra-cleanup/cleanup-failed-stacks.sh
        &>>/var/log/clean_failed_stacks.log

  - name: Create cron job to clean OVB old stacks
    cron:
      name: 'Cleaning old OVB stacks'
      minute: 0
      job: >-
        source /etc/nodepoolrc &&
        bash /opt/stack/ci-config/ci-scripts/infra-cleanup/ovb-tenant-cleanup.sh
        &>>/var/log/clean_stacks_rdo.log'

  - name: Create cron job to clean OVB old stacks on vexxhost
    cron:
      name: 'Cleaning old OVB stacks on vexxhost'
      minute: 30
      job: >-
        source /etc/vexxhostrc &&
        bash /opt/stack/ci-config/ci-scripts/infra-cleanup/ovb-tenant-cleanup.sh
        &>>/var/log/clean_stacks_vexx.log

  - name: Create cron job to get influxdb stats
    cron:
      name: 'Get influxdb stats'
      minute: '*/15'
      job: >-
        python3 /opt/stack/ci-config/ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/rdocloud.py
        --webdir {{ web_directory }}
        &>/var/log/influxdb_stats.log

  - name: Create cron job to get influxdb stats on vexxhost
    cron:
      name: 'Get influxdb stats vexx'
      minute: '*/15'
      job: >-
        python3 /opt/stack/ci-config/ci-scripts/infra-setup/roles/rrcockpit/files/telegraf/vexxhost.py
        --webdir {{ web_directory }}
        &>/var/log/influxdb_stats_vexx.log
