#progressbar {
  background-color: white;
  border-radius: 25px; /* (height of inner div) / 2 + padding */
  padding: 2px;
}

#progressbar > div {
   background-color: yellow;
   width: 0%; /* Adjust with JavaScript */
   height: 20px;
   border-radius: 5px;
}
