---
- hosts: all
  tasks:
    - name: Ensure tox directory exists
      file:
        path: '{{ zuul.executor.log_root }}/tox'
        state: directory
      delegate_to: localhost

    - name: Copy files from tox log dir on node
      failed_when: false
      synchronize:
        src: '{{ zuul.project.src_dir }}/.tox/molecule_delegated/log/'
        dest: '{{ zuul.executor.log_root }}/tox'
        mode: pull
        copy_links: true
        verify_host: true
        rsync_opts:
          - --include=reports.html
          - --exclude=*

    - name: Verify that successful job produced expected artifacts
      when: zuul_success | bool
      block:

        - name: Stat reports.html
          delegate_to: localhost
          stat:
            path: "{{ zuul.executor.log_root }}/tox/reports.html"
          register: result

        - name: Fail a success job if it did not produce a reports.html file
          when: result.stat.exists
          fail:
            msg: Job failed to produce a reports.html which is mandatory for success.

    - name: Return artifact to Zuul
      zuul_return:
        data:
          zuul:
            artifacts:
              - name: "Molecule report"
                url: "tox/reports.html"
                metadata:
                  type: html_report
