---
- hosts: all
  tasks:
    - name: Ensure tox directory exists
      file:
        path: '{{ zuul.executor.log_root }}/tox'
        state: directory
      delegate_to: localhost

    - name: Copy files from tox log dir on node
      failed_when: false
      synchronize:
        src: '{{ zuul.project.src_dir }}/.tox/molecule/log/'
        dest: '{{ zuul.executor.log_root }}/tox'
        mode: pull
        copy_links: true
        verify_host: true
        rsync_opts:
          - --include=reports.html
          - --exclude=*
