---

- hosts: all
  vars:
    # DO not add ansible here, the production server needs to use ansible from package
    venv_test_requirements:
      - ansi2html
      - docker
      - pytest
      - pytest-cov
      - pytest-html
      - pytest-xdist
      - mock
      - molecule>=3.0.4
      - sh
      - dlrn
      - dlrnapi_client
      - tripleo-common
      - python-tripleoclient
      - selinux
    required_packages:
      - yum-utils
      # required by tripleo-common
      - gcc
      # molecule on py3
      - python3
      - python3-devel
      - libselinux-python3
  tasks:

    # TODO(ssbarnea): Switch to ensure-docker from upstream to avoid reinventhing the wheel
    - name: Packages
      become: true
      block:

        # keep this step separated from the docker-ce install below
        - name: Include install-requirements
          include_tasks: common_tasks/install-requirements.yml

        - name: Configure docker-ce repo
          command: yum-config-manager --add-repo \
              "https://download.docker.com/linux/{{ ansible_distribution|lower }}/docker-ce.repo"

        # Workaround for docker-ce installation failure due conflict with containerd.io
        # https://bugzilla.redhat.com/show_bug.cgi?id=1756473#c1
        - name: Patch docker-ce.repo for newer RedHat distros
          when: ansible_os_family == 'RedHat' and ansible_distribution_major_version == '8'
          ini_file:
            path: /etc/yum.repos.d/docker-ce.repo
            section: docker-ce-stable
            option: module_hotfixes
            value: "True"
            no_extra_spaces: true
            create: false

        - name:  install epel
          include_tasks: common_tasks/install-epel.yml

        - name: Removed old/distro version of docker
          yum:
            name:
              - docker
              - docker-client
              - docker-client-latest
              - docker-common
              - docker-latest
              - docker-latest-logrotate
              - docker-logrotate
              - docker-engine
            state: absent

        - name: Install docker-ce
          yum:
            name:
              - docker-ce
              - docker-ce-cli
              - ansible
              - python-docker-py
            state: present

        - name: Start docker
          service:
            name: docker
            state: started

        - name: Stat docker on docker socket
          stat:
            path: "/var/run/docker.sock"
          register: docker_socket_stat

        - name: Find out docker group name
          shell: |
            set -euo pipefail
            getent group {{ docker_socket_stat.stat.gid }} | cut -d":" -f1 | head -1
          register: docker_group
          changed_when: false
          failed_when: false

        - name: Add user to docker group
          become: true
          user:
            name: zuul
            groups: '{{ docker_group.stdout }}'
            append: true

        - name: Reset connection for group add to take effect in the next tasks
          meta: reset_connection

    - name: Include install-test-python
      include_tasks: common_tasks/install-test-python.yml

    - name: use python-tripleoclient from zuul if it's in the correct dir
      pip:
        name: "file://{{ zuul.executor.work_root }}/{{ zuul.projects['opendev.org/openstack/python-tripleoclient'].src_dir  }}"
        state: forcereinstall
      when: "'opendev.org/openstack/python-tripleoclient' in zuul.projects"

    - name: use tripleo-common from zuul if it's in the correct dir
      pip:
        name: "file://{{ zuul.executor.work_root }}/{{ zuul.projects['opendev.org/openstack/tripleo-common'].src_dir  }}"
        state: forcereinstall
      when: "'opendev.org/openstack/tripleo-common' in zuul.projects"
