---
- hosts: all
  environment:
    ANSIBLE_LOG_PATH: "{{ ansible_user_dir }}/zuul-output/logs/ansible-execution.log"
  tasks:
    - name: Run role test job
      shell: |-
          #. {{ ansible_user_dir }}/test-python/bin/activate
        # Add all the delegated scenarios here.
        molecule test -s container-push
      args:
        chdir: "{{ ansible_user_dir }}/{{ zuul.project.src_dir }}/roles/promoter"
        executable: /bin/bash
