---
- hosts: all
  vars:
    promoter_user: "promoter"
  tasks:
    - name: "Configure {{ promoter_user }}"
      become: true
      block:
        - name: Ensure promoter user exists
          user:
            name: "{{ promoter_user }}"
            system: true
            create_home: true

        - name: "Add passwordless sudo permission for {{ promoter_user }} user"
          copy:
            dest: "/etc/sudoers.d/{{ promoter_user }}"
            content: "{{ promoter_user }} ALL=(ALL) NOPASSWD:ALL"
            mode: 0440

        - name: "Validate sudoers permissions update"
          changed_when: false
          command: "/usr/sbin/visudo -c"

        - name: "set ~ directory permissions"
          file:
            path: "{{ ansible_user_dir }}"
            owner: "{{ ansible_user }}"
            group: "{{ ansible_user }}"
            mode: "g-w,o-wx"

    - include_role:
        name: ensure-podman

    - include_role:
        name: copy_container
      vars:
        enable_corn: false

    - name: 'Add {{ ansible_user }} user ssh key to authorized_key' # noqa 301
      shell: "cat /home/{{ ansible_user }}/.ssh/id_rsa.pub >> /home/{{ ansible_user }}/.ssh/authorized_keys"

    - name: "Set authorized_key file permissions"
      file:
        path: "{{ ansible_user_dir }}/.ssh/authorized_keys"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: "0600"
