---
- hosts: all
  vars:
    docker_group: docker
  tasks:

    # until docker-install role on redhat distros is fixed by:
    # https://review.openstack.org/#/c/634934

    - name: Ensure promoter user exists
      become: true
      user:
        name: "{{ promoter_user }}"
        system: true
        create_home: true

    - name: "Add passwordless sudo permission for {{ promoter_user }} user"
      become: true
      copy:
        dest: "/etc/sudoers.d/{{ promoter_user }}"
        content: "{{ promoter_user }} ALL=(ALL) NOPASSWD:ALL"
        mode: 0440

    - name: "Validate sudoers permissions update"
      become: true
      changed_when: false
      command: "/usr/sbin/visudo -c"

    - name: create docker group
      become: true
      group:
        name: "{{ docker_group }}"
        system: true

    - name: Add user to docker group
      become: true
      user:
        name: "{{ ansible_user }}"
        groups:
          - "{{ docker_group | default('docker') }}"

    - include_role:
        name: ensure-docker
      vars:
        use_upstream_docker: true

    - name: Create user config dir
      file:
        path: "{{ ansible_user_dir }}/.docker/"
        owner: "{{ ansible_user }}"
        state: directory

    - name: Enable experimental commands in user config
      copy:
        content: |
          {
              "experimental": "enabled"
          }
        dest: "{{ ansible_user_dir }}/.docker/config.json"

    - name: "set ~ directory permissions"
      become: true
      file:
        path: "{{ ansible_user_dir }}"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: "g-w,o-wx"

    - name: 'Add {{ ansible_user }} user ssh key to authorized_key' # noqa 301
      shell: "cat /home/{{ ansible_user }}/.ssh/id_rsa.pub >> /home/{{ ansible_user }}/.ssh/authorized_keys"

    - name: "Set authorized_key file permissions"
      file:
        path: "{{ ansible_user_dir }}/.ssh/authorized_keys"
        owner: "{{ ansible_user }}"
        group: "{{ ansible_user }}"
        mode: "0600"
