---
- hosts: all
  vars:
    docker_group: docker
  tasks:

    # workaround for missing selinux error with ansible:
    - name: assure we have selinux python bindings
      become: true
      # TODO: find a better way to establish which libselinux python rpm to
      # install because using ansible_python.version.major is not correct
      # as zuul is currently using python2 on fedora nodes.
      package:
        name: >-
          {%- if ansible_distribution == 'Fedora' -%}
          python3-libselinux
          {%- else -%}
          libselinux-python
          {%- endif %}

    # until docker-install role on redhat distros is fixed by:
    # https://review.openstack.org/#/c/634934

    - name: create docker group
      become: true
      group:
        name: "{{ docker_group }}"
        system: true

    - name: Add user to docker group
      become: true
      user:
        name: "{{ ansible_user }}"
        groups:
          - "{{ docker_group | default('docker') }}"

    - include_role:
        name: install-docker
      vars:
        use_upstream_docker: true

    # Workaround for https://launchpad.net/bugs/1807703 safe to remove only once
    # fetch-zuul-cloner is no longer part of zuul base job.
    - name: apply o-w workaround on src to avoid failure to load ansible.cfg
      file:
        path: "{{ ansible_user_dir }}/src"
        state: directory
        recurse: true
        mode: o-w
      become: true
