---
- hosts: all
  tasks:
    - name: Ensure logs directory exists
      file:
        path: '{{ zuul.executor.log_root }}/logs'
        state: directory
      delegate_to: localhost

    - name: Copy files from /tmp on node
      failed_when: false
      synchronize:
        src: '/home/{{ ansible_user }}'
        dest: '{{ zuul.executor.log_root }}/logs'
        mode: pull
        copy_links: true
        verify_host: true
        rsync_opts:
          - --include=promoter_logs**
          - --include=*.yaml
          - --include=*.log
          - --exclude=*
