# TODO(rfolco): Replace this file w/ upstream ensure_docker
# from zuul roles so we don't need to maintain this code

- name: setup docker
  become: true
  block:
    - name: Configure docker-ce repo
      command: yum-config-manager --add-repo \
          https://download.docker.com/linux/{{ distro }}/docker-ce.repo

    - name: Install required packages {{ ansible_distribution }} 7
      package:
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
        state: present
      when: ansible_distribution_major_version|int == 7

    - name: Install required packages {{ ansible_distribution }} 8
      # TODO(bhagyashris): This is a temporary workaround, we would need
      # to remove this workaround as older packages won't be available
      # on mirrors forever.
      command: dnf install docker-ce --nobest -y
      when: ansible_distribution_major_version|int >= 8

- name: Set up external partition
  become: true
  block:
    - name: Mount external volume - create a partition
      parted:
        device: "{{ docker_device }}"
        number: 1
        state: present

    # TODO(rfolco): Move this test setup out of the role
    - name: Be sure to reread partition table
      command: kpartx -a "{{ docker_device }}"
      when: setup_staging

    - name: Mount external volume - create a filesystem
      filesystem:
        fstype: xfs
        dev: "{{ docker_partition }}"

    - name: Read device information (always use unit when probing)
      parted:
        device: "{{ docker_partition }}"
        unit: GiB
      register: partition_info

    - name: fail the play if the device size is less than 100 GB
      fail:
        msg: "The device size should be greater than 100 GB"
      when:
        - "partition_info.disk.size < 100"
        - not setup_staging | bool

    - name: Check if device are already mounted
      shell: df | grep "{{ docker_partition }}" | wc -l
      register: mount_checked

    - name: create a mount folder
      file:
        path: /var/lib/docker
        state: directory

    - name: Mount external volume - mount the partition
      mount:
        path: /var/lib/docker
        src: "{{ docker_partition }}"
        fstype: xfs
        state: mounted
      when: mount_checked.rc == 0

- name: Configure docker
  become: true
  block:
    - name: Ensure docker dir exists
      file:
        path: /etc/docker
        state: directory

    - name: Configure overlay2 for docker
      copy:
        content: |
          {
              "storage-driver": "overlay2",
              "storage-opts": [
                "overlay2.override_kernel_check=true"
              ]
          }
        dest: /etc/docker/daemon.json
      register: docker_config

- name: Reload, enable and start docker
  become: true
  block:
    - name: Reload docker if config was changed
      service:
        name: docker
        state: reloaded
      when: docker_config is changed

    - name: Start and enable Docker
      service:
        name: docker
        state: started
        enabled: yes

- name: Stat docker socket again
  stat:
    path: "/var/run/docker.sock"
  register: docker_socket_stat

- name: Find out docker group name
  become: true
  shell: |
    set -euo pipefail
    getent group {{ docker_socket_stat.stat.gid }} | cut -d":" -f1 | head -1
  register: docker_group
  changed_when: false
  failed_when: false

- when: not docker_group.stdout
  become: true
  block:
    - name: Create docker group
      group:
        name: "docker_{{ docker_socket_stat.stat.gid }}"
        gid: "{{ docker_socket_stat.stat.gid }}"
        state: present

    - name: Storing new created docker group
      set_fact:
        docker_group:
          stdout: "docker_{{ docker_socket_stat.stat.gid }}"

- name: List groups for user
  become: true
  command: "groups {{ promoter_user }}"
  register: user_groups
  changed_when: false

- name: Check if user is in docker group
  become: true
  when: "docker_group.stdout not in user_groups.stdout"
  block:
    - name: Add user to docker group
      user:
        name: '{{ promoter_user }}'
        groups: '{{ docker_group.stdout }}'
        append: true
      register: groupadd

    - name: Reset connection for group add to take effect in the next tasks
      meta: reset_connection

- name: Create user config dir
  become: true
  become_user: "{{ promoter_user }}"
  file:
    path: "/home/{{ promoter_user }}/.docker/"
    owner: "{{ promoter_user }}"
    state: directory

- name: Enable experimental commands in user config
  become: true
  become_user: "{{ promoter_user }}"
  copy:
    content: |
      {
          "experimental": "enabled"
      }
    dest: "/home/{{ promoter_user }}/.docker/config.json"
