---
- name: run promoter script on the staging environment
  become: true
  become_user: "{{ promoter_user }}"
  command: "{{ ci_config_remote_src_dir }}/ci-scripts/dlrnapi_promoter/src/promoter/scripts/dlrn-promoter.sh -s"
  environment:
    PROMOTER_VENV: "{{ promoter_virtualenv }}"
    TEST_RELEASE: "{{ test_release }}"
  changed_when: true

- name: fetch defaults.yaml file
  fetch:
    src: "{{ ci_config_remote_src_dir }}/ci-scripts/dlrnapi_promoter/config_environments/staging/defaults.yaml"
    dest: "{{ zuul.executor.work_root }}/defaults.yaml"
    flat: yes

- name: "Include Vars"
  include_vars:
    file: "{{ zuul.executor.work_root }}/defaults.yaml"

- name: log file name
  debug:
    var: log_file

- name: check if dlrn api actually finished a promotion process
  become: true
  become_user: "{{ promoter_user }}"
  command: "grep -E '(FINISHED promotion process|Promoter terminated normally)' {{ log_file }}"
  changed_when: false
