---
- name: run promoter script on the staging environment
  become: true
  become_user: "{{ promoter_user }}"
  shell: "{{ ci_config_remote_src_dir }}/ci-scripts/dlrnapi_promoter/dlrn-promoter.sh -s"
  environment:
    PROMOTER_VENV: "{{ promoter_virtualenv }}"
    TEST_RELEASE: "{{ test_release }}"
  changed_when: true

- name: extract log_file from staging.ini
  shell:
    cmd: |
       grep log_file config/staging/{{ test_release }}.ini | awk '{ print $2 }'
  register: log_file_grep
  args:
    chdir: "{{ ci_config_remote_src_dir }}/ci-scripts/dlrnapi_promoter"
  changed_when: false

- name: check if dlrn api actually finished a promotion process
  become: true
  become_user: "{{ promoter_user }}"
  command: "grep -E '(FINISHED promotion process|Promoter terminated normally)' {{ log_file_grep.stdout }}"
  changed_when: false
