---
- name: run promoter script on the staging environment
  become: true
  become_user: "{{ promoter_user }}"
  shell:
    cmd: |
      source /home/{{ promoter_user }}/promoter_venv/bin/activate
      export PROMOTER_FORCE_LEGACY={{ promoter_force_legacy|default(false) }}
      cd {{ ci_config_remote_src_dir }}
      ci-scripts/dlrnapi_promoter/dlrn-promoter.sh -s
  changed_when: true

- name: extract log_file from staging.ini
  shell:
    cmd: |
       grep log_file config/CentOS-7/staging.ini | awk '{ print $2 }'
  register: log_file_grep
  args:
    chdir: "{{ ci_config_remote_src_dir }}/ci-scripts/dlrnapi_promoter"
  changed_when: false

- name: check if dlrn api actually finished a promotion process
  become: true
  become_user: "{{ promoter_user }}"
  command: "grep -E '(FINISHED promotion process|Promoter terminated normally)' {{ log_file_grep.stdout }}"
  changed_when: false
