---
# This is very useful while developing the staging environment locally
# as it will always clone your latest change to the server
- name: clone promoter dir in staging
  synchronize:
    src: "{{ ci_config_local_src_dir }}/"
    dest: "{{ ci_config_remote_src_dir }}"
    rsync_opts:
        # https://github.com/ansible/ansible/issues/25681
        - "--quiet"
        - "--no-motd"
        - "--exclude=.tox"

# This block is the setup / run
- become: true
  become_user: "{{ promoter_user }}"
  name: launch staging setup scripts
  changed_when: false
  shell: |
    source ~/{{ promoter_virtualenv }}/bin/activate
    # Export the path to the mounted docker socket so all docker client commands will use it
    if [ -S /var/docker.sock ]; then
        export DOCKER_HOST=unix:///var/docker.sock
        export DOCKER_OPTS="--insecure-registry localhost:{{ initial_registry['port'] }}"
    fi
    cd {{ ci_config_remote_src_dir }}
    python3 {{ ci_config_remote_src_dir }}/ci-scripts/dlrnapi_promoter/src/stage/stage_server.py \
      --db-data-file {{ pipeline_type }}-pipeline.yaml \
      setup \
      --release-config {{ test_release }}.yaml \
