---
- name: Cleanup
  become: true
  become_user: "{{ promoter_user }}"
  shell: |
    echo "cleaning up environment"
    source ~/{{ promoter_virtualenv }}/bin/activate
    if [ -S /var/run/podman.sock ]; then
        export DOCKER_HOST=unix:///var/run/podman.sock
    fi
    python {{ ci_config_remote_src_dir }}/ci-scripts/dlrnapi_promoter/stage.py teardown
  args:
    chdir: "/home/{{ promoter_user }}"
  tags:
    - staging_cleanup
  changed_when: true
