---
- name: Cleanup
  shell: |
    killed=$(pkill -c uwsgi)
    echo "Killed $killed uWSGI process"
    echo "Purging db"
    rm -f commits.sqlite
    echo "cleaning up environment"
    source /home/{{ promoter_user }}/promoter_venv/bin/activate
    if [ -S /tmp/docker.sock ]; then
        export DOCKER_HOST=unix:///tmp/docker.sock
        export DOCKER_OPTS="--insecure-registry localhost:{{ initial_registry['port'] }}"
        docker container stop {{ initial_registry['name'] }} {{ promote_registry['name'] }}
        docker container rm {{ initial_registry['name'] }} {{ promote_registry['name'] }}
    fi
    python {{ ci_config_remote_src_dir }}/ci-scripts/dlrnapi_promoter/tests/staging-setup/staging_environment.py teardown
    rm -f /home/{{ promoter_user }}/dlrnapi.log
  args:
    chdir: "/home/{{ promoter_user }}"
  tags:
    - staging_cleanup
