---
# {{ ansible_managed }}
# TODO: Keep in sync with ci-scripts/infra-setup/tenant_vars/*/servers.yml
all:
  vars:
    cloud: "{{ cloud | mandatory }}"
    infra_setup_repo: "{{ infra_setup_repo | default(infra_setup_repo_default) }}"
    {% if infra_setup_repo_refspec | default(None) != None %}
    infra_setup_repo_refspec: "{{ infra_setup_repo_refspec }}"
    {% endif %}
  children:
    {{ cloud | mandatory }}:
      hosts:
        incockpit:
        promoter:
        provisioner:
        rrcockpit:
        toolbox:
