---
# {{ ansible_managed }}
all:
  vars:
    cloud: "{{ cloud | mandatory }}"
  children:
    {{ cloud | mandatory }}:
      hosts:
        - incockpit
        - promoter
        - rrcockpit
        - toolbox
