setup_staging: false
rrcockpit_internal_network_ip: 127.0.0.1
promoter_user: "{{ lookup('env', 'PROMOTER_USER')|default('centos', true) }}"
molecule_testing: false
docker_device: /dev/vdb
docker_partition: /dev/vdb1
docker_socket: /var/run/docker.sock

# molecule delegated tests, local and remote are combined into ci_config_remote_src_dir
ci_config_remote_src_dir: "/home/{{ promoter_user }}/ci-config"
dlrn_exec_path: "{{ ci_config_remote_src_dir }}/ci-scripts/dlrnapi_promoter/dlrn-promoter-service.sh"
#
# Credential paths
#
# Load credential files from /tmp
local_path_dlrnapi_secret_default: "/tmp/dlrnapi_secret"
local_path_registry_secret_default: "/tmp/registry_secret"
local_path_uploader_key_default: "/tmp/uploader_key"
# env vars can be specified to override the default locations
local_path_dlrnapi_secret: >-
    {{ lookup('env', 'LOCAL_DLRNAPI_SECRET')
    |default(local_path_dlrnapi_secret_default, true)  }}
local_path_registry_secret: >-
    {{ lookup('env', 'LOCAL_REGISTRY_SECRET')
    |default(local_path_registry_secret_default, true)  }}
local_path_uploader_key: >-
    {{ lookup('env', 'LOCAL_UPLOADER_KEY')
    |default(local_path_uploader_key_default, true)  }}

# First deploy credential paths
provision_path_dlrnapi_secret_default: "/root/dlrnapi_secret"
provision_path_registry_secret_default: "/root/registry_secret"
provision_path_uploader_key_default: "/root/uploader_key"

# Path on the provisioned server are fixed instead
remote_path_dlrnapi_secret: "/home/{{ promoter_user }}/dlrnapi_secret"
remote_path_registry_secret: "/home/{{ promoter_user }}/registry_secret"
remote_path_uploader_key: "/home/{{ promoter_user }}/.ssh/id_rsa"

release: master
distro_name: centos
distro_version: 7

named_label: triple-ci-staging-promoted
containers_file: "/tmp/parsed_containers-{{ distro_name }}-{{ distro_version }}-{{ release }}.txt"

# registries
initial_registry:
  name: local-rdo-registry
  port: 6000
undercloud_registry:
  name: local-undercloud-registry
  host: 127.0.0.1:8787
  username: unused
  password: unused
  namespace: "tripleo{{ release }}"
  auth_url: unused
promote_registries:
  - host: 127.0.0.1:6500
    name: local-promote-registry-1
    username: unused
    password: unused
    namespace: "tripleo{{ release }}"
    token: unused
    auth_url: unused

run_service: true
